@import './../../../styles/_variables';

.background {
  margin-top: 50px;
}

.groupHeading {
  background-color: #e0e0e0;
  padding: 10px;
}

mat-icon {
  font-size: 80%;
}

.moreLess {
  color: $primary-color;
}
.matches {
  margin-left: 5px;
  font-size: 90%;
}

.list-item {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  padding-left: 5px;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
