<div class="mat-app-background container mat-body-1">

  <div [hidden]="!showForumList || groupListDisplayAttributes.length === 0" class="group-list">
    <div><span class="mat-title">{{ 'forums.component.myGroups' | translate }}</span></div>
    <div *ngFor="let group of groupListDisplayAttributes; let i=index" (click)="onGroupSelect(i)">
      <span class="hyperlink"><br>{{ 'forums.component.heading' | translate}}:</span>
      <span *ngFor="let attribute of group" class="group-attributes"><br>- {{ attribute | translate }}</span>
      <mat-divider [hidden]="groupListDisplayAttributes.length === 1"></mat-divider>
    </div>
  </div>

  <div [hidden]="!showForumList || groupListDisplayAttributes.length > 0" class="group-list">
    <div><span class="mat-title">{{ 'forums.component.myGroups' | translate }}</span></div>
      <p>{{ 'forums.component.noGroups1' | translate }}.
        {{ 'forums.component.noGroups2' | translate }}
        <span class="hyperlink" (click)='onLikeMe()'>{{ 'forums.component.noGroups3' | translate }}</span> {{ 'forums.component.noGroups4' | translate }}.
      </p>
  </div>

  <div [hidden]="!showForumPosts">
    <div>
      <div class="group-heading">
        <span>{{ 'forums.component.heading' | translate}}:</span>
        <div class="options">
          <mat-icon class="options-icons hyperlink"
                    fontSet="material-icons-outlined"
                    (click)="showTitlesOnly = !showTitlesOnly">
                    subject
          </mat-icon>
          <mat-icon class="options-icons hyperlink"
                    fontSet="material-icons-outlined"
                    (click)="onSearch()">
                    search
          </mat-icon>
        </div>
        <span *ngIf="showLessMatches">
          <span *ngFor="let profileAttribute of groupProfileDisplayAttributesFromGroup | slice:0:3" class="group-attributes"><br>- {{ profileAttribute }}</span>
          <div *ngIf="showMoreOption"
                (click)="!showLessMatches"
                class="hyperlink">
                ...{{ 'forums.component.more' | translate }}
          </div>
        </span>
        <span *ngIf="!showLessMatches">
          <span *ngFor="let profileAttribute of groupProfileDisplayAttributesFromGroup" class="group-attributes"><br>- {{ profileAttribute }}</span>
          <div (click)="showLessMatches"
                class="hyperlink">
                ...{{ 'forums.component.less' | translate }}</div>
        </span>
      </div>
    </div>
    <div class="posts">
      <app-rvlm-posts
        [titlesOnly]="showTitlesOnly">
      </app-rvlm-posts>
    </div>
  </div>

  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>

</div>
