<footer class="footer" fxFlexOffset="auto">
  <mat-toolbar color="primary" class="toolbar" role="toolbar">
    <!-- <div class="mat-h3" fxFlex fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px"> -->
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <!-- <div class="menu-item"> -->
        <a routerLink="/home" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>home_outline</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>home</span>
          </div>
        </a>
      <!-- </div> -->
      <!-- <div class="menu-item"> -->
        <a routerLink="/connections" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>people_outline</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>like me</span>
          </div>
        </a>
      <!-- </div> -->
      <!-- <div class="menu-item"> -->
        <a routerLink="/forums" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>forums_outline</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>forums</span>
          </div>
        </a>
      <!-- </div> -->
      <!-- <div class="menu-item"> -->
        <a routerLink="/messages" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>messages_outline</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>messages</span>
          </div>
        </a>
      <!-- </div> -->
      <!-- <div class="menu-item"> -->
        <button mat-icon-button (click)="onToggleSidenav()">
          <div class="menu-icon">
            <mat-icon>more_horiz</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>more</span>
          </div>
        </button>
      <!-- </div> -->
    </div>
  </mat-toolbar>
</footer>
