<footer class="footer" fxFlexOffset="auto">
  <mat-toolbar color="primary" class="toolbar" role="toolbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <a routerLink="/home" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>home_outline</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>{{ "menu.home" | translate }}</span>
          </div>
        </a>
        <a routerLink="/connections" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>people_outline</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>{{ "menu.connections" | translate }}</span>
          </div>
        </a>
        <a routerLink="/forums" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>forums_outline</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>{{ "menu.forums" | translate }}</span>
          </div>
        </a>
        <a routerLink="/messages" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>messages_outline</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>{{ "menu.messages" | translate }}</span>
          </div>
        </a>
        <a (click)="onToggleSidenav()">
          <div class="menu-icon">
            <mat-icon>more_horiz</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>{{ "menu.more" | translate }}</span>
          </div>
        </a>
    </div>
  </mat-toolbar>
</footer>
