<footer class="footer" fxFlexOffset="auto">
  <mat-toolbar color="primary" class="toolbar" role="toolbar">
    <div class="mat-h3" fxFlex fxLayout fxLayoutAlign="center" fxLayoutGap="30px">
      <!-- <div class="menu-item"> -->
        <a routerLink="/" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>home</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>home</span>
          </div>
        </a>
      <!-- </div> -->
      <!-- <div class="menu-item"> -->
        <a routerLink="/connections" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>people</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>like me</span>
          </div>
        </a>
      <!-- </div> -->
      <!-- <div class="menu-item"> -->
        <a routerLink="/forums" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>forums</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>forums</span>
          </div>
        </a>
      <!-- </div> -->
      <!-- <div class="menu-item"> -->
        <a routerLink="/messages" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>messages</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>messages</span>
          </div>
        </a>
      <!-- </div> -->
      <!-- <div class="menu-item"> -->
        <a routerLink="/settings" routerLinkActive="active-menu-item">
          <div class="menu-icon">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="menu-icon-text">
            <span>settings</span>
          </div>
        </a>
      <!-- </div> -->
    </div>
  </mat-toolbar>
</footer>
