<div class="mat-app-background container">
  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
              type="email"
              placeholder="Email"
              formControlName="email"
              autocomplete="email"
              required>
        <mat-error *ngIf="errorHandling('email', 'required')">
          Please enter your <strong>Email</strong>
        </mat-error>
      </mat-form-field>
    </div>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
  </form>
</div>
