@import './../../../../styles/_variables';

.container {
  padding: 10px;
}

.desktop-spacing {
  margin-top: 80px;
}

.device-spacing {
  margin-top: 50px;
}

.bottom-bar-spacing {
  margin-bottom: 50px;
}

.bottom-bar-spacing-xplus {
  margin-bottom: 80px;
}

.hyperlink {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

.checkbox {
  line-height: 2;
}

.background {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
}

.box-background-light {
  background-color: white;
}

.box-background-dark {
  background-color: $dark-mode-posts;
}

.button {
  margin-bottom: 10px;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
