<div class="mat-app-background container">
  <div *ngIf="httpError">
    <mat-error class="mat-subheading-2">{{ httpErrorText }}</mat-error>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix fontSet="material-icons-outlined">email</mat-icon>
        <mat-label>Email</mat-label>
        <input matInput
              type="email"
              placeholder="Email"
              formControlName="username"
              autocomplete="email"
              required>
        <mat-error *ngIf="errorHandling('username', 'required')">
          Please enter your <strong>Email</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="button">
      <button type="submit" class="mat-raised-button mat-primary"
              [disabled]="!form.valid || showSpinner">Submit</button>
    </div>
  </form>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
