<div class="mat-app-background container">
  <p class="mat-body">This information will be used to find information that is relavant to the way you RV.
                      The more complete, the better your results!</p>
  <p class="mat-body">Click on any help icon for information on how the data point will be used for you.</p>
  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput
              type="text"
              placeholder="First name"
              formControlName="firstName"
              autocomplete="name"
              required
              (change)="changeFirstName($event)">
        <mat-error *ngIf="errorHandling('firstName', 'required')">
          Please enter your <strong>first name</strong>
        </mat-error>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="nameHelp()">help</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput
              type="text"
              placeholder="Last name"
              formControlName="lastName"
              autocomplete="name">
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="nameHelp()">help</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Display name</mat-label>
        <input matInput
              type="text"
              placeholder="Display name"
              formControlName="displayName"
              required>
        <mat-error *ngIf="errorHandling('displayName', 'required')">
          Please enter a <strong>display name</strong>
        </mat-error>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="displayNameHelp()">help</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
              type="email"
              placeholder="Email"
              formControlName="email"
              autocomplete="email"
              required>
        <mat-error *ngIf="errorHandling('email', 'required')">
          Please enter your <strong>Email</strong>
        </mat-error>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="emailHelp()">help</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Year of birth (YYYY)</mat-label>
        <input matInput
              type="text"
              placeholder="Year of birth"
              formControlName="yearOfBirth">
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="yearOfBirthHelp()">help</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Choose home country</mat-label>
        <mat-select matNativeControl>
          <mat-option
            aria-placeholder="country"
            *ngFor="let Country of countries" [value]="Country.value">
            {{ Country.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="homeCountryHelp()">help</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Choose home state</mat-label>
        <mat-select matNativeControl>
          <mat-option
            aria-placeholder="state"
            *ngFor="let State of states" [value]="State.value">
            {{ State.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="homeStateHelp()">help</mat-icon>
    </div>
  </form>
</div>
<mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
