@import './../../../../styles/_variables';

.container {
  padding: 10px;
}

.desktop-spacing {
  margin-top: 80px;
}

.device-spacing {
  margin-top: 50px;
}

.bottom-bar-spacing {
  margin-bottom: 50px;
}

mat-form-field{
  width: 85% !important;
  max-width: 500px !important;
}

.bottom-bar-spacing-xplus {
  margin-bottom: 80px;
}

.hyperlink {
  color: $primary-color
}

.icon {
  margin-left: 10px;
}

mat-form-field {
  line-height: 1.4;
}

.add-pic {
  padding-right: 5px;
  cursor: pointer;
}

.blog-links {
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom: 15px;
}

.links {
  margin-left: 20px;
}

.profile-image {
  float: left;
  cursor: pointer;
}

.image {
  border-radius: 50%;
}

.form-fields {
  clear: left;
  padding-top: 10px;
}

.background {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
}

.box-background-light {
  background-color: white;
}

.box-background-dark {
  background-color: $dark-mode-posts;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
