@import './../../../../styles/_variables';

.container {
  padding: 10px;
  margin-top: 50px;
}

.hyperlink {
  color: $primary-color
}

.icon {
  margin-left: 10px;
}

mat-form-field {
  line-height: 1.4;
}

.add-pic {
  padding-right: 5px;
  cursor: pointer;
}

.blog-links {
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom: 15px;
}

.links {
  margin-left: 20px;
}

.large-input {
  width: 90%;
  max-width: 310px;
}

.desktop-input {
  width: 500px;
}

.profile-image {
  float: left;
  cursor: pointer;
}

.image {
  border-radius: 50%;
}

.form-fields {
  clear: left;
  padding-top: 10px;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
