mat-form-field {
  line-height: 1.4;
}

.button {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
