<div class="background">
  <div class="form-fields">
    <form [formGroup]="form">
      <div>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'add-post.component.body' | translate }}</mat-label>
          <textarea matInput
                    rows="4"
                    (ngModelChange)="onTextEntered()"
                    type="text"
                    placeholder="{{ 'add-post.component.whatToSay' | translate }}"
                    formControlName="post">
          </textarea>
        </mat-form-field>
        <div *ngIf="postPhotoUrl">
          <img [src]="postPhotoUrl" class="image">
        </div>
        <button class="photo" mat-button (click)="fileInput.click()">
          <mat-icon fontSet="material-icons-outlined" class="add-pic">add_a_photo</mat-icon>
          <input #fileInput type="file"
                  (change)="onPhoto($event)"
                  accept = "image/*"
                  style="display:none;"/>
            <span>{{ 'add-post.component.photo' | translate }}</span>
        </button>
      </div>
      <div class="button">
        <button [disabled]="!formCompleted"
                class="mat-raised-button mat-primary"
                (click)="onPost()">
                {{ 'add-post.component.post' | translate }}
        </button>
      </div>
      <div class="button">
        <button class="mat-raised-button"
                (click)="onDoneWithAdd('canceled')">
                {{ 'add-post.component.cancel' | translate }}
        </button>
      </div>
    </form>
    <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
  </div>
  <br>
</div>
