<div class="background">
  <div class="form-fields">
    <form [formGroup]="form">
      <div>
<!--         <mat-form-field appearance="outline">
          <mat-label>{{ 'add-post.component.title' | translate }}</mat-label>
          <input matInput
                type="text"
                placeholder="{{ 'add-post.component.postTitle' | translate }}"
                formControlName="title"
                cdkFocusInitial>
        </mat-form-field> -->
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'add-post.component.body' | translate }}</mat-label>
          <textarea
              matInput
              rows="4"
              cdkTextareaAutosize
              type="text"
              placeholder="{{ 'add-post.component.whatToSay' | translate }}"
              formControlName="post">
          </textarea>
        </mat-form-field>
      </div>
      <div class="button">
        <button [disabled]="!form.valid"
                class="mat-raised-button mat-primary"
                (click)="onPost()">
                {{ 'add-post.component.post' | translate }}
        </button>
      </div>
      <div class="button">
        <button class="mat-raised-button"
                (click)="doneWithAdd('canceled')">
                {{ 'add-post.component.cancel' | translate }}
        </button>
      </div>
    </form>
    <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
  </div>
  <br>
</div>
