.container {
  margin-top: 50px;
  padding: 10px;
}

.container-desktop {
  padding: 10px;
  margin-top: 0px;
}

.bottom-bar-spacing {
  margin-bottom: 50px;
}

.bottom-bar-spacing-xplus {
  margin-bottom: 80px;
}
