<div class="mat-app-background background">
  <div *ngIf="httpError">
    <mat-error class="mat-subheading-2">{{ httpErrorText }}</mat-error>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix fontSet="material-icons-outlined">email</mat-icon>
        <mat-label>Email</mat-label>
        <input matInput
              type="text"
              placeholder="Email"
              autocapitalize="none"
              formControlName="username"
              autocomplete="username email"
              required>
        <mat-error *ngIf="errorHandling('username', 'required')">
          Please enter your <strong>Email</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix fontSet="material-icons-outlined">lock</mat-icon>
        <mat-label >Password</mat-label>
        <input matInput
              [type]="hidePassword ? 'password' : 'text'"
              placeholder="Password"
              autocapitalize="none"
              formControlName="password"
              autocomplete="new-password"
              required>
        <mat-error *ngIf="errorHandling('password', 'required')">
          Please enter your <strong>Password</strong>
        </mat-error>
      </mat-form-field>
      <mat-icon matSuffix class="eyePassword" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </div>
    <div class="button">
      <button type="submit" class="mat-raised-button mat-primary"
              [disabled]="!form.valid || showSpinner">Submit</button>
    </div>
  </form>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
