@import './../../../../styles/_variables';

.container {
  padding: 10px;
  margin-top: 50px;
}

.container-desktop {
  padding: 10px;
  margin-top: 0px;
}

.eyePassword {
  margin-left: 10px;
}

.logo {
  float: left;
}

mat-form-field {
  line-height: 1.4;
}

mat-icon {
  margin-right: 5px;
}

.button {
  float: left;
  margin-right: 10px;
}

.activate-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.forgotGroup {
  clear: left;
  margin-top: 70px;
}

.forgot {
  margin-right: 30px;
  color: $primary-color;
  font-size: 90%;
}

.legal {
  font-size: 90%;
}

.hyperlink {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
