<div ngClass="container container-desktop mat-body-1"
    [ngClass.xs]="{'container': true, 'container-desktop': false}"
    [ngClass.md]="{'container': false, 'container-desktop': true}">
  <div><span class="mat-title">Forgot Password</span></div>
  <br>
  <div *ngIf="httpError">
    <mat-error class="mat-subheading-2">{{ httpErrorText }}</mat-error>
  </div>
  <div>
    <p>Please enter your email address below to receive a password reset link</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix fontSet="material-icons-outlined">email</mat-icon>
        <mat-label>Email address</mat-label>
        <input matInput
                type="text"
                placeholder="Email address"
                autocapitalize="none"
                formControlName="userEmail"
                autocomplete="username email"
                required>
        <mat-error *ngIf="errorHandling('userEmail', 'required')">
          Please enter your <strong>Email</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="button">
      <button type="submit" class="mat-raised-button mat-primary"
              [disabled]="!form.valid">Submit</button>
    </div>
    <div class="button">
      <button *ngIf="containerDialog" class="mat-raised-button" (click)="onCancel()">Cancel</button>
    </div>
  </form>

  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
