<mat-nav-list>
  <a mat-list-item routerLink="/settings"
    (click)="closeSideNav()"
    routerLinkActive="active-menu-item">
    <mat-icon>settings</mat-icon>
    <span class="nav-caption">{{ "menu.settings" | translate}}</span>
  </a>
  <a mat-list-item routerLink="/about"
  (click)="closeSideNav()"
  routerLinkActive="active-menu-item">
  <mat-icon>rv_hookup</mat-icon>
  <span class="nav-caption">{{ "menu.about" | translate}}</span>
  </a>
  <a mat-list-item routerLink="/profile"
  (click)="closeSideNav()"
  routerLinkActive="active-menu-item">
  <mat-icon>person</mat-icon>
  <span class="nav-caption">{{ "menu.profile" | translate}}</span>
  </a>
  <a mat-list-item
  (click)="logout()"
  routerLinkActive="active-menu-item">
  <mat-icon>eject</mat-icon>
  <span class="nav-caption">{{ "menu.logout" | translate}}</span>
  </a>
</mat-nav-list>
