<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/connections" (click)="onSidenavClose()">
    <mat-icon>people</mat-icon> <span class="nav-caption">{{ "menu.connections" | translate}}</span>
  </a>
  <a mat-list-item routerLink="/forums" (click)="onSidenavClose()">
    <mat-icon>forum</mat-icon><span class="nav-caption">{{ "menu.forums" | translate}}</span>
  </a>
  <a mat-list-item routerLink="/messages" (click)="onSidenavClose()">
    <mat-icon>message</mat-icon><span class="nav-caption">{{ "menu.messages" | translate}}</span>
  </a>
  <a mat-list-item routerLink="/profile" (click)="onSidenavClose()">
    <mat-icon>settings</mat-icon><span class="nav-caption">{{ "menu.profile" | translate}}</span>
  </a>
</mat-nav-list>
