<div class="mat-app-background">
  <!-- Image file reference passed from the originating component in the data object, which is passed through to
        the image cropper component in the selector.  Also pass reference to updatedImage function
        so the image cropper component can call with the updated image and the data object can be updated
        for passing back to the originating component -->
  <app-image-cropper
    #imageCropper
    [originalImage]="data.image"
    [imageType]="data.imageType"
    (updatedImage)="updatedImageResult($event)">
  </app-image-cropper>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onNoClick()">{{ 'image-dialog.component.cancel' | translate }}</button>
  <button id="btnOK" mat-button (click)="onOK()">{{ 'image-dialog.component.ok' | translate }}</button>
</div>
