@import './../../../../styles/_variables';

.container {
  // padding: 10px;
}

.welcome {
  margin-left: 15px;
}

.hi {
  font-weight: bold;
}

.pctCompleteMsg {
  color: $primary-color;
}

.progress {
  width: 90%;
}

.progress-text {
  font-size: 80%;
}

.hyperlink {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

.box-background-light {
  // background-color: white;
}

.box-background-dark {
  // background-color: $dark-mode-posts;
}

.spinner {
  margin: auto;
}
