<div class="container mat-body-1 mat-elevation-z2"
      (click)="onPercentProfile()"
      [ngClass]="theme === 'dark-theme' ? 'box-background-dark' : 'box-background-light'">
  <div class="welcome">
    <p><span class="hi">{{ 'home.component.hi' | translate }} {{ profile.firstName }}</span>, {{ 'home.component.welcome' | translate}}</p>
  </div>
  <button mat-button>
    <mat-progress-bar
      mode="determinate"
      color="{{ progressBarColor }}"
      value="{{  percentProfileComplete }}">
    </mat-progress-bar>
    <p class="pctCompleteMsg">{{ this.percentCompleteMsg }}</p>
  </button>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="20"></mat-progress-spinner>
</div>
