@import './../../../../styles/_variables';

.container {
  border-radius: 25px;
  padding: 10px;
  background-color: $light-mode-group;
}

.welcome {
  margin-left: 15px;
}

.pctCompleteMsg {
  color: $primary-color;
}

.spinner {
  margin: auto;
}
