<mat-nav-list>
  <a mat-list-item routerLink="/profile"
    (click)="closeSideNav()"
    routerLinkActive="active-menu-item">
    <mat-icon fontSet="material-icons-outlined" >person</mat-icon>
    <span class="nav-caption">{{ "menu.profile" | translate }}</span>
  </a>
  <a mat-list-item routerLink="/messages"
    (click)="closeSideNav()"
    routerLinkActive="active-menu-item">
    <mat-icon fontSet="material-icons-outlined" >messages</mat-icon>
    <span class="nav-caption">{{ "menu.messages" | translate }}</span>
  </a>
  <a mat-list-item routerLink="/about"
    (click)="closeSideNav()"
    routerLinkActive="active-menu-item">
    <mat-icon fontSet="material-icons-outlined" >rv_hookup</mat-icon>
    <span class="nav-caption">{{ "menu.about" | translate }}</span>
  </a>
  <a mat-list-item
    *ngIf="showInstallLink"
    (click)="installApp()">
    <mat-icon fontSet="material-icons-outlined" >save_alt</mat-icon>
    <span class="nav-caption">{{ "menu.install" | translate }}</span>
</a>
</mat-nav-list>
