<mat-nav-list>
  <a id="routeProfile"
    mat-list-item routerLink="/newbie"
    (click)="closeSideNav()"
    routerLinkActive="active-menu-item">
    <mat-icon fontSet="material-icons-outlined" >accessibility_new</mat-icon>
    <span class="nav-caption">{{ "menu.newbie" | translate }}</span>
  </a>
  <a id="routeProfile"
    mat-list-item routerLink="/profile"
    (click)="closeSideNav()"
    routerLinkActive="active-menu-item">
    <mat-icon fontSet="material-icons-outlined" >person</mat-icon>
    <span class="nav-caption">{{ "menu.profile" | translate }}</span>
  </a>
  <a id="routeAbout"
    mat-list-item routerLink="/about"
    (click)="closeSideNav()"
    routerLinkActive="active-menu-item">
    <mat-icon fontSet="material-icons-outlined" >rv_hookup</mat-icon>
    <span class="nav-caption">{{ "menu.about" | translate }}</span>
  </a>
  <a id="routeSettings"
    mat-list-item routerLink="/settings"
    (click)="closeSideNav()"
    routerLinkActive="active-menu-item">
    <mat-icon fontSet="material-icons-outlined" >settings</mat-icon>
    <span class="nav-caption">{{ "menu.settings" | translate }}</span>
  </a>
</mat-nav-list>
