<div class="mat-app-background mat-body-1" [ngClass]="getClass()">
  <div class="dashboard">
    <app-rvlm-profile-percent
      [theme]=theme>
    </app-rvlm-profile-percent>
  </div>

  <!-- Switched from *ngIf to hidden because *ngIf causes page not to be able to scroll to bottom on iPhone -->
  <!-- [hidden]="(!experiencedHelp && newbie) || (!newbie)" -->
  <div class="dashboard">
    <div [hidden]="!newbie" class="newbie mat-elevation-z2" [ngClass]="theme === 'dark-theme' ? 'box-background-dark' : 'box-background-light'">
      <p  class="newbie-header">{{ 'home.component.newbieNeedsHelp' | translate }}</p>
      <p (click)="onNewbieTopics()">{{ 'home.component.newbieTopics1' | translate }} <span class="hyperlink">{{ 'home.component.newbieTopics2' | translate }}</span></p>
    </div>
    <div [hidden]="!experiencedHelp" class="newbie mat-elevation-z2" [ngClass]="theme === 'dark-theme' ? 'box-background-dark' : 'box-background-light'">
      <p  class="newbie-header">{{ 'home.component.helpNewbies' | translate }}</p>
      <p>{{ 'home.component.expert1' | translate }}
        <span class="hyperlink bold-hyperlink" (click)="onHelpNewbieTopic()">{{ 'home.component.expert2' | translate }}</span> {{ 'home.component.expert3' | translate }}.</p>
    </div>
  </div>

  <div [hidden]="!showInstallComponent || hideInstall" class="dashboard">
    <app-rvlm-install
      [event]=event
      [hideInstall]=profile.hideInstall
      [profileID]="profile._id"
      (userInstalledEmit)="hideInstallComponent()">
    </app-rvlm-install>
  </div>

  <div class="dashboard">
    <app-rvlm-likeme-counts
      [theme]=theme>
    </app-rvlm-likeme-counts>
  </div>

  <div class="dashboard">
    <app-rvlm-analytics
      [control]="'aboutMe'"
      [theme]="theme">
    </app-rvlm-analytics>
  </div>

  <div class="dashboard">
    <app-rvlm-analytics
      [control]="'rvUse'"
      [theme]="theme">
    </app-rvlm-analytics>
  </div>

  <div class="dashboard">
    <app-rvlm-analytics
      [control]="'rigType'"
      [theme]="theme">
    </app-rvlm-analytics>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
</div>

