@import './../../../../../styles/_variables';

.container {
  padding: 10px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
}

.bottom-bar-spacing {
  margin-bottom: 80px;
}

.bottom-bar-spacing-xplus {
  margin-bottom: 110px;
}

.dashboard {
  // flex: 1, 1, auto;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.hyperlink {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

.bold-hyperlink {
  font-weight: bold;
}

.newbie {
  border-radius: 25px;
  padding: 10px;
}

.newbie-header {
  font-weight: bold;
}

.box-background-light {
  background-color: white;
}

.box-background-dark {
  background-color: $dark-mode-posts;
}
