<router-outlet></router-outlet>
<!-- <div class="mat-app-background container mat-body-1">
  <p class=mat-title>Newbie Corner</p>
  <p>If you are new to the RV lifestyle or dreaming of the RV lifestyle, we want to help you out!</p>
  <p>First, be sure to fill out your <span class="hyperlink" (click)="onProfile()">profile</span> as completely as possible.
      This is how you can find people that RV like you do or hope to do.</p>
  <p>Second, find others that RV like you do or like you hope to do in the
      <span class="hyperlink" (click)="onLikeMe()">like me</span> section and connect through specific groups.</p>
  <p>There are some topics most people new to RVing are very interested in.
      We'll try to document them in the <span class="hyperlink" (click)="onTopics()">topics</span> section and ask for help from the
      community to give solid information and answers.</p>
</div> -->
