<div class="container">
  <div>
    <div id="profileImage" class="profile-image">
      <img class="image"
        [src]="profileImageUrl"
        style="width:50px;height:50px;">
    </div>
    <div>
      <button mat-button (click)="addPost()" class="add-post">
        <mat-icon fontSet="material-icons-outlined">add_circle_outline</mat-icon>
        <span>Add post as {{ displayName }}</span>
      </button>
    </div>
  </div>
  <div *ngIf="showAddPost"
    class="postsContainer">
    <app-rvlm-add-post
      [groupID]="groupID"
      [displayName]="displayName"
      [profileImageUrl]="profileImageUrl"
      (postAddComplete)="postAddComplete($event)">
    </app-rvlm-add-post>
  </div>
  <div class="postsContainer">
    <mat-divider></mat-divider>
    <div *ngIf="showFirstPost" class="posts">
      Be the first to add a post for this group!
    </div>
    <div *ngIf="showPosts">
      <!-- <cdk-virtual-scroll-viewport autosize> -->
        <!-- <div class="item" *cdkVirtualFor="let post of posts; let i=index"> -->
        <div *ngFor="let post of posts; let i=index">
          <div class="posts">
            <span class="mat-h2">{{ posts[i].title }}</span>
          </div>
          <div class="posts">
            <div>
              <img class="image profile-image-post"
              [src]="posts[i].profileImageUrl"
              style="width:40px;height:40px;">
            </div>
            <div class="nameAndDate">
              <div>
                {{ posts[i].displayName }}
              </div>
              <div>
                {{ posts[i].createdAt | date:'short'}}
              </div>
            </div>
          </div>
          <div *ngIf="!titlesOnly" class="body">
            {{ posts[i].body }}
          </div>
          <div class="response">
            <div (click)="onLike(i)" class="like">
              <mat-icon
                class="reaction"
                matBadge="{{ posts[i].reactionCount > 0 ? posts[i].reactionCount : '' }}"
                matBadgeColor="warn"
                matBadgeSize="small"
                matBadgePosition="above after"
                fontSet="material-icons-outlined">thumb_up</mat-icon>
              <span class="reaction-text">like</span>
            </div>
            <div (click)="onComment(i)" class="comment">
              <mat-icon
                class="reaction"
                matBadge="{{ posts[i].commentCount > 0 ? posts[i].commentCount : '' }}"
                matBadgeColor="warn"
                matBadgeSize="small"
                matBadgePosition="above after"
                fontSet="material-icons-outlined">comment</mat-icon>
              <span class="reaction-text">comments</span>
            </div>
          </div>

          <div class="comments" [hidden]="!showComments[i]">
            <div (click)="onAddComment(i)">
              <button mat-button class="add-comment">
                <mat-icon fontSet="material-icons-outlined">add_circle_outline</mat-icon>
                <span>Add comment as {{ displayName }}</span>
              </button>
            </div>
            <app-rvlm-comments
              [postCommentsIndex]="posts[i].comments"
              [comments]="comments[i]">
            </app-rvlm-comments>
          </div>

          <mat-divider></mat-divider>
        </div>
      <!-- </cdk-virtual-scroll-viewport> -->
    </div>
  </div>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
