@import './../../../../styles/_variables';

.container {
  padding: 10px;
}

.hyperlink {
  color: $primary-color;
}

.profile-image {
  float: left;
}

.profile-image-post {
  float: left;
}

.image {
  border-radius: 50%;
}

.posts-container {
  clear: left;
}

.menu {
  float: right;
}

.posts {
  clear: left;
  margin-top: 5px;
}

.body {
  white-space: pre-line; // Convert JSON escaped \n back to new lines for display'
  clear: left;
  margin-top: 10px;
}

.name-and-date {
  margin-left: 50px;
  font-size: 80%;
  line-height: 1.5;
}

mat-divider {
  border-top-width: 3px;
  margin-top: 20px;
}

.comments {
  clear: left;
  clear: right;
  margin-top: 20px;
}

.response {
  margin-top: 10px;
  margin-bottom: 40px;
}

.reaction-text {
  padding-left: 5px;
}

.like {
  float: left;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  margin-right: 20px;
}

.comment {
  float: right;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
