<div class="mat-body-1" [ngClass]="getClass()">
  <div id="top"></div>
  <!-- <a [routerLink]='"."' [fragment]="fragmentLink">jump to link {{fragmentLink}}</a> -->
  <!-- Apparently there are bugs with anchor scrolling in Angular especially with components nested in sidenav and worse if route animations
  So, will have to wait on this -->
  <div [hidden]="forumType === 'topic' && userNewbie">
    <div id="profileImage" class="profile-image">
      <img class="image"
        [src]="profileImageUrl"
        style="width:50px;height:50px;">
    </div>
    <div>
      <button mat-button (click)="onAddPost()" class="hyperlink">
        <mat-icon fontSet="material-icons-outlined">add_circle_outline</mat-icon>
        <span>{{ 'posts.component.addHeader' | translate }} {{ displayName }}</span>
      </button>
    </div>
  </div>
  <div [@addPostSlideInOut]="addPostOpen" class="posts-container">
    <app-rvlm-add-post [groupID]="groupID"
                        [displayName]="displayName"
                        [profileImageUrl]="profileImageUrl"
                        [yearOfBirth]="yearOfBirth"
                        [rigLength]="rigLength"
                        (postAddComplete)="postAddComplete($event)">
    </app-rvlm-add-post>
  </div>
  <div class="posts-container">
    <div *ngIf="showFirstPost && forumType === 'group'" class="first-post">
      {{ 'posts.component.firstPost' | translate }}
    </div>
    <div *ngIf="showFirstPost && forumType === 'topic'" class="first-post">
      {{ 'posts.component.firstPostTopic' | translate }}
    </div>
    <div [hidden]="!showPosts">
        <div *ngFor="let post of posts; let i=index" [attr.id]="posts[i].fragment">
          <div class="posts">
            <div>
              <div *ngIf="posts[i].createdBy === userID">
                <mat-icon class="menu"
                          matPrefix
                          [matMenuTriggerFor]="beforeMenu">
                  more_horiz
                </mat-icon>
              </div>
            </div>
            <div>
              <mat-menu #beforeMenu="matMenu"
                        xPosition="before">
                <button mat-menu-item (click)="onUpdatePost(i)">
                  <mat-icon matPrefix fontSet="material-icons-outlined">create</mat-icon>
                  {{ 'posts.component.updateText' | translate }}
                </button>
                <button mat-menu-item (click)="onDeletePost(i)">
                  <mat-icon matPrefix fontSet="material-icons-outlined">delete</mat-icon>
                  Delete post
                </button>
              </mat-menu>
            </div>

            <div class="author" >
              <div>
                <img class="image profile-image-post"
                      [src]="posts[i].profileImageUrl"
                      style="width:40px;height:40px;"
                      (click)="onYourStory(posts[i].createdBy,
                              posts[i].displayName,
                              posts[i].profileImageUrl)">
              </div>
              <div class="name-and-date">
                <div class="display-name">
                  {{ posts[i].displayName }}
                </div>
                <div>
                  {{ posts[i].createdAt | date:'short'}}
                </div>
              </div>
            </div>
            <div class="body">
              <div class="bodyText">
                {{ posts[i].body }}
              </div>
              <div *ngIf="posts[i].postPhotoUrl">
                <img class="postImage" [src]="posts[i].postPhotoUrl">
              </div>
              <div *ngIf="posts[i].link" class="link" (click)="onLink(i)">
                <app-rvlm-preview-link
                  [linkPreview]="{'url':posts[i].link,
                                  'description':posts[i].linkDesc,
                                  'title':posts[i].linkTitle,
                                  'image':posts[i].linkImage}">
                </app-rvlm-preview-link>
              </div>
            </div>
            <div class="response hyperlink">
              <button (click)="onLike(i)"
                      class="mat-button like"
                      [disabled]="liked[i]">
                <mat-icon matBadge="{{ posts[i].reactionCount > 0 ? posts[i].reactionCount : '' }}"
                          matBadgeColor="warn"
                          matBadgeSize="small"
                          matBadgePosition="above after"
                          fontSet="material-icons-outlined">
                    thumb_up
                </mat-icon>
                <span class="reaction-text">
                      {{ "posts.component.like" | translate }}
                </span>
              </button>
              <button (click)="onComment(i)"
                      class="mat-button comment">
                <mat-icon class="reaction"
                          matBadge="{{ posts[i].commentCount > 0 ? posts[i].commentCount : '' }}"
                          matBadgeColor="warn"
                          matBadgeSize="small"
                          matBadgePosition="above after"
                          fontSet="material-icons-outlined">
                    comment
                </mat-icon>
                <span class="reaction-text">{{ "posts.component.comments" | translate }}</span>
              </button>
            </div>

            <div [@commentSlideInOut]="commentsOpen[i]" class="comments" [hidden]="!showPostComments[i]">

              <app-rvlm-add-comment [postIndex]="i"
                                    [postID]="posts[i]._id"
                                    [displayName]="displayName"
                                    [profileImageUrl]="profileImageUrl"
                                    (postCommentComplete)="postCommentComplete($event)">
              </app-rvlm-add-comment>

              <app-rvlm-comments [postIndex]="i"
                                  [comments]="comments[i]"
                                  [startCommentsIndex]="startCommentsIndex[i]"
                                  [commentsLength]="posts[i].commentCount"
                                  [colorTheme]="theme"
                                  [displayName]="displayName"
                                  [profileImageUrl]="profileImageUrl"
                                  [userID]="userID"
                                  (showAllComments)="onShowAllComments(i)">
              </app-rvlm-comments>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>
    </div>
  </div>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
