.background {
  padding: 10px;
  margin-top: 50px;
}

.background-desktop {
  padding: 10px;
  margin-top: 0px;
}

.hook {
  line-height: 1.4;
}

.sub-text {
  text-indent: 10px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 20px;
}
