.container {
  padding: 10px;
  margin-top: 50px;
}

.container-desktop {
  padding: 10px;
  margin-top: 0px;
}

.rvlikeme {
  position: relative;
  float: right;
  top: 5px;
  left: 5px;
  color: white;
}

.hook {
  line-height: 1.4;
}

.logoCombined {
  position: absolute;
  top: 0px;
  left: 0px;
}

.logo {
  float: left;
}

.sub-text {
  text-indent: 10px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 20px;
}
