<div ngClass="mat-body-1"
    [ngClass.xs]="{'container': true, 'container-desktop': false}"
    [ngClass.md]="{'container': false, 'container-desktop': true}">

  <div *ngIf="containerDesktop">
    <div>
      <img src='./../../../assets/images/{{landingImage}}'
            id="image"
            alt="rv view"
            [style.height]="maxRvImageHeight"
            [style.width]="maxRvImageWidth">
    </div>
    <div class="logoCombined">
      <div class="rvlikeme">
        <h2 class="mat-h2">
          <img src="../../../../assets/images/trailer.png"
            class="logo"
            alt="travel trailer logo"
            style="width:60px;height:37.2px;">
            RV Like Me
        </h2>
      </div>
    </div>
  </div>

  <div>
    <span class="mat-display-1 hook">
      Connect with people who RV like you do
    </span>
    <br><br>
    <p class="mat-body">
      Whether you are
    </p>
    <p class="mat-body sub-text">
      full-time traveling or stationary,
    </p>
    <p class="mat-body sub-text">
      driving solo or with the family,
    </p>
    <p class="mat-body sub-text">
      a big rig or a small trailer,
    </p>
    <p class="mat-body">
      we are here to connect you with other RV'ers who do the RV lifestyle the way you do (or hope to do in the future)!
    </p>
    <button mat-flat-button class="button" color="primary" (click)="registerUser()">Sign up for free</button>
  </div>
</div>
