<div class="mat-app-background">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>{{ "posts.component.post" | translate }}</mat-label>
      <textarea matInput
          type="text"
          placeholder="What do you want to say?"
          [style.height]="fieldHeight"
          formControlName="post"
          cdkFocusInitial>
      </textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button id="btnOK" mat-button (click)="onOK()">OK</button>
</div>
