// If changing the default colors, must also change the custom theme in main styles
$primary-color : #f9a825;
$warn-color : red;
$accent-color : #2576F9;
$seperator-color:  rgb(197, 196, 196);
$light-mode-group: #e0e0e0;
$dark-mode-group: #616161;
$light-mode-message-other: #e0e0e0;
$dark-mode-message-other: #616161;
$light-mode-message-me: #80deea;
$dark-mode-message-me: #006064;
$light-background-color: #f0eeec;
$dark-background-color: #636160;
$dark-mode-posts: #9e9e9e;

// If changing the default max desktop width, also need to change in desktop-max-width service
$max-width: 1440px;
