<div class="mat-app-background mat-body-1" [ngClass]="getClass()">
  <p class="mat-title">Install on Apple Device</p>
  <br>
  <div>
    <img class="image" src="./../../../../assets/images/iPhoneInstallStep1.png">
  </div>
  <div>
    <span>With RvLikeMe.com open in Safari, click on the share icon on the bottom bar</span>
  </div>
  <br>
  <div>
    <img class="image" src="./../../../../assets/images/iPhoneInstallStep2.png">
  </div>
  <div>
    <span>Then click Add Bookmark</span>
  </div>
  <br>
  <div>
    <img class="image" src="./../../../../assets/images/iPhoneInstallStep3.png">
  </div>
  <div>
    <span>Then click Add</span>
  </div>
  <br>
  <div>
    <img class="image-small" src="./../../../../assets/images/iPhoneInstallStep4.png">
  </div>
  <div>
    <span>The RvLikeMe.com icon is on your home page</span>
  </div>
  <br>
  <div>
    <img class="image" src="./../../../../assets/images/iPhoneInstallStep5.png">
  </div>
  <div>
    <span>Now, RV Like Me will look and feel like an Apple app.  Enjoy!</span>
  </div>
</div>
