.background {
  height: 100vh;
  overflow: auto;
}

.hook {
  line-height: 1.4;
}

.marketing-message {
  padding-left: 15px;
  padding-right: 15px;
}

.sub-text {
  text-indent: 10px;
}

.button {
  text-align: center;
}
