<div *ngIf="showLanding" class="mat-app-background background">
  <p class="mat-display-2 hook marketing-message">
    Connect with people who RV like you do
  </p>
  <p class="mat-body marketing-message">
    Whether you are
  </p>
  <p class="mat-body marketing-message sub-text">
    full-time traveling or stationary,
  </p>
  <p class="mat-body marketing-message sub-text">
    driving solo or with the family,
  </p>
  <p class="mat-body marketing-message sub-text">
    a big rig or a small trailer,
  </p>
  <p class="mat-body marketing-message">
    we are here to connect you with other RV'ers who do the RV lifestyle the way you do!
  </p>
  <br>
  <div class="button">
    <button mat-flat-button color="primary" (click)="signUp()">Sign up for free</button>
  </div>
  <br>
  <div class="button">
    <button mat-button (click)="learnMore()">Learn more</button>
  </div>
  <div class="button">
    <button mat-button (click)="gotoTop()">top</button>
  </div>
</div>
<div *ngIf="!showLanding" class="mat-app-background background">
  <app-learn-more [state]="showLanding"
    (toggle)="toggleLanding($event)">
  </app-learn-more>
</div>

