<div>
  <button mat-button
    *ngIf="showAllUsersCount">
    {{ "home.component.allUserCount1" | translate }} {{ this.allUsersCount }} {{ "home.component.allUserCount2" | translate }}
  </button>
  <button mat-button (click)="onClick('aboutMe')"
    *ngIf="showAboutMe" class="user-count">
    {{ aboutMe }}
  </button>
  <button mat-button (click)="onClick('rvUse')"
    *ngIf="showRvUse" class="user-count">
      {{ rvUse }}
  </button>
  <button mat-button (click)="onClick('rigType')"
  *ngIf="showRigType" class="user-count">
    {{ rigType }}
</button>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="20"></mat-progress-spinner>
</div>
