@import './../../../../styles/_variables';

.container {
  border-radius: 25px;
  padding: 10px;
  background-color: $light-mode-group;
}

.welcome {
  margin-left: 15px;
}

.user-count {
  color: $primary-color;
}

.start-connecting {
  font-weight: bold;
}

.box-background-light {
  background-color: white;
}

.box-background-dark {
  background-color: $dark-mode-posts;
}

.spinner {
  margin: auto;
}
