<div>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>{{ "add-comment.component.comment" | translate }}</mat-label>

      <input
        *ngIf="showSmallFieldInitial"
        matInput
        type="text"
        placeholder="{{ 'add-comment.component.comment' | translate }}"
        formControlName="comment"
        cdkFocusInitial
        (click)="showSmallFieldInitial=false">

      <textarea
        class="text"
        *ngIf="!showSmallFieldInitial"
        matInput
        type="text"
        placeholder="{{ 'add-comment.component.comment' | translate }}"
        formControlName="comment"
        cdkFocusInitial>
      </textarea>

    </mat-form-field>
    <button [disabled]="!postButtonActive"
            class="mat-raised-button mat-primary button"
            (click)="onSubmit()">
            {{ "add-comment.component.post" | translate }}
    </button>
  </form>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
