.text {
  line-height: 1.4;
}

.large-input {
  width: 100%;
}

.comment-input {
  float:left;
  width: 73%;
  margin-right: 5px;
}

.button {
  margin-top: 4px;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
