@import './../../../../styles/_variables';

.container {
  padding: 10px;
  margin-top: 50px;
}

.profile-image {
  float: left;
}

.image {
  border-radius: 50%;
}

.name-and-date {
  margin-left: 50px;
  line-height: 1.3;
}

.display-name {
  font-weight: bold;
  padding-right: 10px;
}

.message {
  font-size: 90%;
  width: 200px;
}

.date {
  font-size: 80%;
}

.not-read {
  font-weight: bold;
}

.read {
  font-weight: normal;
}

.hyperlink {
  color: $primary-color;
}

.conversation {
  margin-top: 15px;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
