<div class="mat-app-background mat-body-1 container">
  <p class="mat-title">{{ 'messages.component.header' | translate }}</p>
  <div class="conversations">
    <div *ngIf="noConversations">
      <span>{{ 'messages.component.noMessages1' | translate }}
            <span class="hyperlink"
                  (click)='onClickGoToGroup()'>
              {{ 'messages.component.noMessages2' | translate }}
            </span> {{ 'messages.component.noMessages3' | translate }}.
      </span>
    </div>
    <div *ngFor="let conversation of conversations; let i = index">
      <div [hidden]="conversation.withUserID === userID"
            (click)="onSelectSendTo(i)"
            class="conversation">
        <div>
          <img class="image profile-image"
                [src]="conversation.withUserProfileImageUrl"
                style="width:40px;height:40px;">
        </div>
        <div class="name-and-date">
          <div>
            <span class="display-name">{{ conversation.withUserDisplayName }}</span>
            <span class="date">{{ conversation.updatedAt | date:'short'}}</span>
          </div>
          <div class="message">
            <span [ngClass]="conversation.createdByUnreadMessages === 0 ? 'read' : 'not-read'">
              {{ conversation.createdByDisplayName }}
            </span> : <span>{{ conversation.messages[conversation.messages.length - 1].message.substring(0,20) }}...</span>
          </div>
        </div>
      </div>
      <div [hidden]="conversation.createdBy === userID"
            (click)="onSelectSendTo(i)"
            class="conversation">
        <div>
          <img class="image profile-image"
                [src]="conversation.createdByProfileImageUrl"
                style="width:40px;height:40px;">
        </div>
        <div class="name-and-date">
          <div>
            <span class="display-name">{{ conversation.createdByDisplayName }}</span>
            <span class="date">{{ conversation.updatedAt | date:'short'}}</span>
          </div>
          <div class="message">
            <span [ngClass]="conversation.withUserUnreadMessages === 0 ? 'read' : 'not-read'">
              {{ conversation.createdByDisplayName }}
            </span> : <span>{{ conversation.messages[conversation.messages.length - 1].message.substring(0,20) }}...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
