<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a routerLink="/">RV Like Me</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
              <a routerLink="/connections">{{ "menu.connections" | translate}}</a>
          </li>
          <li>
              <a routerLink="/forums">{{ "menu.forums" | translate}}</a>
          </li>
          <li>
            <a routerLink="/messages">{{ "menu.messages" | translate}}</a>
        </li>
        <li>
          <a routerLink="/profile">{{ "menu.profile" | translate}}</a>
      </li>
      </ul>
  </div>
</mat-toolbar>
