<mat-toolbar color="primary" class="toolbar" role="toolbar">
  <div class="mat-h3" fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon area-label="menu">menu</mat-icon>
      </button>
      <span>{{ "general.rvlikeme" | translate}}</span>
  </div>

  <div class="mat-h3" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs fxLayoutGap="15px">
      <a routerLink="/">
        <span>{{ "general.rvlikeme" | translate}}</span>
      </a>
      <span class="fill-space"></span>
      <a routerLink="/connections" routerLinkActive="active-menu-item">{{ "menu.connections" | translate}}</a>
      <span>|</span>
      <a routerLink="/forums" routerLinkActive="active-menu-item">{{ "menu.forums" | translate}}</a>
      <span>|</span>
      <a routerLink="/messages" routerLinkActive="active-menu-item">{{ "menu.messages" | translate}}</a>
      <div class="icon-button">
        <a routerLink="/settings" routerLinkActive="active-menu-item">
          <mat-icon>settings</mat-icon>
        </a>
      </div>
  </div>
</mat-toolbar>
