<div>
  <button
    [disabled]="disableSingleMatchForumOffer"
    class="mat-raised-button button mat-primary"
    (click)="onForum()">
      {{ "connections.component.forumButton" | translate }}
  </button>
  <button
    class="mat-raised-button button"
    (click)="onCancel()">
    {{ "connections.component.cancelButton" | translate }}
  </button>
  <h3 matsubheader>{{ queryResultMessagePrefix }}</h3>
  <mat-list>
    <mat-list-item
      *ngFor="let result of results"
      class="list-item">
      <mat-icon class="list-item">fiber_manual_record</mat-icon>{{ result }}
    </mat-list-item>
  </mat-list>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>


