<div>
  <button
    [disabled]="disableSingleMatchForumOffer"
    class="mat-raised-button button mat-primary"
    (click)="onForum()">
      {{ "connections.component.forumButton" | translate }}
  </button>
  <button
    class="mat-raised-button button"
    (click)="onCancel()">
    {{ "connections.component.cancelButton" | translate }}
  </button>
  <p>{{ queryResultMessagePrefix }}</p>
  <ul class="results">
    <li *ngFor="let result of results">
      {{ result }}
    </li>
  </ul>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>


