@import './../../../../styles/_variables';

.container {
  padding: 10px;
}

.desktop-spacing {
  margin-top: 80px;
}

.device-spacing {
  margin-top: 50px;
}

.bottom-bar-spacing {
  margin-bottom: 50px;
}

.bottom-bar-spacing-xplus {
  margin-bottom: 80px;
}

.checkbox {
  line-height: 2;
}

.button {
  margin-bottom: 10px;
  margin-right: 10px;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

mat-icon {
  font-size: 80%;
}

.list-item {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  padding-left: 5px;
}

.background {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
}

.box-background-light {
  background-color: white;
}

.box-background-dark {
  background-color: $dark-mode-posts;
}
