@import './../../../../styles/_variables';

.toolbar {
  display: flex;
  height: 50px;
  position: fixed;
  top: 0;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 1; // To make sure content flows under toolbar
}

.toolbar-image {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}
.toolbar-icon {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.image {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.fill-space {
  flex: 1 1 auto;
}

.back-arrow {
  padding-right: 10px;
}

.page-title {
  font-size: 120%;
}

