<mat-toolbar [ngClass]="device === 'iPhone' ? 'toolbar' : 'toolbar mat-elevation-z4'"
              class="mat-h3"
              color="primary"
              role="toolbar"
              fxFlex fxLayout fxLayoutAlign="start">
  <div class="toolbar-image">
    <mat-icon *ngIf="showBackArrow"
              mat-button
              class="back-arrow toolbar-item"
              alt="back arrow"
              (click)="returnToBackRoute()">{{ arrowIcon }}
    </mat-icon>
  </div>
  <span class="fill-space"></span>
  <button *ngIf="userAuthorized"
          mat-button
          class="toolbar-icon"
          matTooltip="Messages"
          routerLink="/messages/message-list"
          [routerLinkActive]="lightTheme? 'active-menu-item': 'active-menu-item-dark'">
    <div class="menu-icon-text">
      <mat-icon matBadge="{{newMessageCount}}"
            matBadgeColor="warn"
            matBadgeSize="small"
            matBadgePosition="above after"
            fontSet="material-icons-outlined">
            messages
      </mat-icon>
    </div>
    <div class="menu-icon-text">
      <span>{{ "menu.messages" | translate }}</span>
    </div>
  </button>
  <button *ngIf="userAuthorized"
          mat-button
          class="toolbar-icon"
          matTooltip="Profile"
          routerLink="/profile/main"
          [routerLinkActive]="lightTheme? 'active-menu-item': 'active-menu-item-dark'">
    <div class="menu-icon-text">
      <mat-icon fontSet="material-icons-outlined">person</mat-icon>
    </div>
    <div class="menu-icon-text">
      <span>{{ "menu.profile" | translate }}</span>
    </div>
</button>
  <div class="toolbar-image">
    <button *ngIf="userAuthorized && profileImage"
            mat-button
            [matMenuTriggerFor]="beforeMenu">
      <img *ngIf="profileImage"
            class="image"
            [src]="profileImageUrl">
    </button>
  </div>
  <button *ngIf="userAuthorized && !profileImage"
          mat-button
          class="toolbar-icon"
          matTooltip="Menu">
    <mat-icon matPrefix
              [matMenuTriggerFor]="beforeMenu">
              account_circle
    </mat-icon>
  </button>

  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="onChangeProfileImage()">
      <mat-icon matPrefix fontSet="material-icons-outlined">add_a_photo</mat-icon>
      {{ "account.changeProfileImage" | translate }}
    </button>
    <button mat-menu-item (click)="onChangeUsername()">
      <mat-icon matPrefix fontSet="material-icons-outlined">account_box</mat-icon>
      {{ "account.changeUsername" | translate }}
    </button>
    <button mat-menu-item (click)="onChangePassword()">
      <mat-icon matPrefix fontSet="material-icons-outlined">lock</mat-icon>
      {{ "account.changePassword" | translate }}
    </button>
    <button mat-menu-item (click)="onSettings()">
      <mat-icon matPrefix fontSet="material-icons-outlined">lock</mat-icon>
      {{ "account.settings" | translate }}
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon fontSet="material-icons-outlined" >eject</mat-icon>
      {{ "account.logout" | translate }}
    </button>
  </mat-menu>
</mat-toolbar>

