@import './../../../../../styles/_variables';

mat-form-field {
  line-height: 1.4;
  width: 100%;
}

.image {
  border-radius: 50%;
}

.profile-image {
  float: left;
}

.profile-image-post {
  float: left;
}

.comment {
  margin-left: 50px;
  font-size: 80%;
  line-height: 1.5;
  background-color:#e0e0e0;
  border-radius: 10px;
  padding: 5px;
}

.date {
  margin-left: 5px;
}

.comment-container {
  margin-top: 20px;
}

.display-name {
  font-weight: bold;
}

.container {
  margin-left: 10px;
}

.show-all-comments {
  margin-top: 10px;
  color: $primary-color;
}
