@import './../../../../../styles/_variables';

.container {
  margin-left: 10px;
}

.hyperlink {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

/* mat-form-field {
  line-height: 1.4;
  width: 100%;
} */

.image {
  border-radius: 50%;
}

.profile-image-post {
  float: left;
}

.comment {
  margin-left: 50px;
  font-size: 80%;
  line-height: 1.5;
  border-radius: 10px;
  padding: 5px;
}

.comment-light {
  background-color:#e0e0e0;
}

.comment-dark {
  background-color: #616161;
}

.date {
  margin-left: 5px;
}

.comment-container {
  margin-bottom: 20px;
}

.display-name {
  font-weight: bold;
}

.show-all-comments {
  margin-top: 10px;
}
