.container {
  margin-top: 50px;
  padding: 10px;
}

.profile-image-post {
  float: left;
  border-radius: 50%;
}

.name-and-date {
  margin-left: 90px;
  line-height: 1.5;
}

.display-name {
  font-weight: bold;
}

.message-button {
  padding: 0;
  margin: 0;
}

.attributes {
  clear: left;
  padding-top: 10px;
  font-size: 90%;
}

.attribute-label {
  font-weight: bold;
}

.story-heading {
  padding-top: 15px;
}

.story {
  white-space: pre-line; // Convert JSON escaped \n back to new lines for display'
}

.dialog-actions {
  float: right;
}

.rig-images {
  margin-bottom: 15px;
}

.row {
  display: flex;
}

.img-container {
  width: 90px;
}
