<div class="mat-app-background mat-body-1"
    [ngClass]="desktopUser && comingFromProfile? 'container-desktop' : 'container'">
  <a href=""></a> <!-- prevents auto-scrolling to bottom of page for a long story, because will scroll to first anchor tag it finds -->
  <button *ngIf="desktopUser && !comingFromProfile"
          type="button"
          mat-button
          class="hyperlink"
          (click)="onBack()">
          << Go Back
  </button>
  <div>
    <div>
      <div>
        <img class="profile-image-post"
              [src]="userProfileImage"
              style="width:80px;height:80px;">
      </div>
      <div class="name-and-date">
        <div class="display-name">
          {{ userDisplayName }}
        </div>
        <div>
          <button [disabled]="userIdViewer === userID"
                  mat-button
                  class="message-button"
                  (click)="onMessageUser()">
              <mat-icon fontSet="material-icons-outlined">messages</mat-icon>
              {{ 'yourstory.component.message' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="attributes">
    <p><span class="attribute-label">{{ 'yourstory.component.experience' | translate }}: </span>{{ userAboutMe | translate }}</p>
    <p><span class="attribute-label">{{ 'yourstory.component.howrv' | translate }}: </span>{{ userRvUse | translate }}</p>
    <div class="row">
      <div class="attribute-label column">
        {{ 'yourstory.component.rigtype' | translate }}:
      </div>
      <div class="column">{{ userRigType | translate }}<br>
                          <span *ngIf="showRigBrand"> {{ userRigYear }} {{ userRigBrand }} - {{ userRigModel }}</span>
      </div>
    </div>
    <p><span class="attribute-label">{{ 'yourstory.component.rigpics' | translate }}: </span>
        <span *ngIf="rigImageUrls.length === 0">{{ 'yourstory.component.nopics' | translate }}</span></p>
    <div class="rig-images">
      <div class="row">
        <div *ngFor="let rigImageUrl of rigImageUrls; let i=index">
          <div class="img-container">
            <img [src]="rigImageUrl" style="width:95%" (click)="openImageViewDialog(rigImageUrl)">
          </div>
        </div>
      </div>
    </div>
    <p><span class="attribute-label">{{ 'yourstory.component.lifestylepics' | translate }}: </span>
        <span *ngIf="lifestyleImageUrls.length === 0">{{ 'yourstory.component.nopics' | translate }}</span></p>
    <div class="rig-images">
      <div class="row">
        <div *ngFor="let lifestyleImageUrl of lifestyleImageUrls; let i=index">
          <div class="img-container">
            <img [src]="lifestyleImageUrl" style="width:95%" (click)="openImageViewDialog(lifestyleImageUrl)">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="story-heading mat-title">
      {{ userDisplayName }} {{ 'yourstory.component.story' | translate }}
    </div>
    <div class="story">
      {{ userMyStory }}
    </div>
  </div>
</div>

