@import './../../../../styles/_variables';

.container {
  margin-top: 50px;
  padding: 10px;
}

.container-desktop {
  padding: 10px;
  margin-top: 0px;
}

.profile-image-post {
  float: left;
  border-radius: 50%;
}

.hyperlink {
  color: $primary-color
}

.name-and-date {
  margin-left: 90px;
  line-height: 1.5;
}

.display-name {
  font-weight: bold;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding-right: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.message-button {
  padding: 0;
  margin: 0;
}

.attributes {
  clear: left;
  padding-top: 10px;
  font-size: 90%;
}

.attribute-label {
  font-weight: bold;
}

.story-heading {
  padding-top: 15px;
}

.story {
  white-space: pre-line; // Convert JSON escaped \n back to new lines for display'
}

.dialog-actions {
  float: right;
}

.rig-images {
  margin-bottom: 15px;
}

.row {
  display: flex;
}

.img-container {
  width: 90px;
}

.image {
  cursor: pointer;
}
