<div>
  <span>
    <mat-icon *ngIf="!passwordUpper" class="password-icon-wrong">close</mat-icon>
    <mat-icon *ngIf="passwordUpper" class="password-icon-check">check</mat-icon>
    One upper case letter
  </span>
  <br>
  <span >
    <mat-icon *ngIf="!passwordLower" class="password-icon-wrong">close</mat-icon>
    <mat-icon *ngIf="passwordLower" class="password-icon-check">check</mat-icon>
    One lower case letter
  </span>
  <br>
  <span>
    <mat-icon *ngIf="!passwordNumber" class="password-icon-wrong">close</mat-icon>
    <mat-icon *ngIf="passwordNumber" class="password-icon-check">check</mat-icon>
    One number
  </span>
  <br>
  <span>
    <mat-icon *ngIf="!passwordSpecial" class="password-icon-wrong">close</mat-icon>
    <mat-icon *ngIf="passwordSpecial" class="password-icon-check">check</mat-icon>
    One special character (!,@,#,$,%,&,*)
  </span>
  <br>
  <span>
    <mat-icon *ngIf="!passwordLength" class="password-icon-wrong">close</mat-icon>
    <mat-icon *ngIf="passwordLength" class="password-icon-check">check</mat-icon>
    Minimum length 8 characters
  </span>

</div>
