@import './../../../../styles/_variables';

.container {
  padding: 10px;
  margin-top: 50px;
}

.hyperlink {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

.external {
  text-decoration: none; // Don't show underline on link
}

// .link {
//   line-height: 2;
// }

.linkRow {
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 30px;
}

.links {
  margin-top: 20px;
}

.add-link {
  clear: left;
  margin-top: 20px;
}

.button {
  margin-right: 10px;
}

a {
  margin-left: 25px;
}

.buttons {
  padding-bottom: 10px;
}

.delete {
  cursor: pointer;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
