<div class="mat-body-1" [ngClass]="getClass()">
  <div>
    <div class="group-heading mat-elevation-z2" [ngClass]="theme === 'dark-theme' ? 'group-heading-dark' : 'group-heading-light'">
      <div>
        <span *ngIf="forumType === 'group'">{{ 'forums.component.heading' | translate}}:</span>
        <span *ngIf="forumType === 'topic'">{{ 'forums.component.headingTopic' | translate}}:</span>
        <span *ngIf="forumType === 'group' && showLessMatches">
          <span *ngFor="let profileAttribute of groupProfileDisplayAttributesFromGroup | slice:0:3" class="group-attributes"><br>- {{ profileAttribute }}</span>
          <div *ngIf="showMoreOption"
                (click)="showLessMatches = !showLessMatches"
                class="hyperlink">
                ...{{ 'forums.component.more' | translate }}
          </div>
        </span>
        <span *ngIf="forumType === 'group' && !showLessMatches">
          <span *ngFor="let profileAttribute of groupProfileDisplayAttributesFromGroup" class="group-attributes"><br>- {{ profileAttribute }}</span>
          <div (click)="showLessMatches = !showLessMatches"
                class="hyperlink">
                ...{{ 'forums.component.less' | translate }}</div>
        </span>
        <span *ngIf="forumType === 'topic'">
          <span class="group-attributes"><br>{{ topicDesc }}</span>
        </span>
      </div>
    </div>
  </div>
  <div class="posts mat-elevation-z2" [ngClass]="theme === 'dark-theme'? 'posts-background-dark' : 'posts-background-light'">
    <app-rvlm-posts
      [colorTheme]="theme">
    </app-rvlm-posts>
  </div>

  <!-- <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner> -->
</div>
