@import './../../../../styles/_variables';

.container {
  padding: 10px;
  margin-top: 50px;
}

.bottom-bar-spacing {
  margin-bottom: 50px;
}

.bottom-bar-spacing-xplus {
  margin-bottom: 80px;
}

.hyperlink {
  color: $primary-color;
  text-decoration: none;
}

.profile-image {
  float: left;
  max-width: 100%;
}

.get-image {
  margin-bottom: 15px;
}

.icon {
  margin-left: 5px;
}

.input-clear {
  float: right;
}

.image {
  cursor: pointer;
}

.image-placeholder {

}

mat-form-field {
  line-height: 1.4;
}

.row {
  display: flex;
}

.img-container {
  width: 90px;
}

.desktop-img-container {
  width: 200px;
}

.rig-images {
  margin-bottom: 15px;
}

.add-pic {
  padding-right: 5px;
}

.image {
  width: 150px;
}

.brand {
  width: 85%;
  max-width: 300px;
}

.other {
  margin-left: 20px;
}

.background {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
}

.box-background-light {
  background-color: white;
}

.box-background-dark {
  background-color: $dark-mode-posts;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
