<div class="mat-app-background background">
  <div class="rig-images">
<!--     <div *ngFor="let rigImageUrl of rigImageUrls">
      <div class="row" >
        <img class="column" [src]="rigImageUrl" style="width:100%">
      </div>
    </div> -->
    <div class="row">
      <div *ngFor="let rigImageUrl of rigImageUrls" class="img-container">
          <img [src]="rigImageUrl" style="width:100%">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <img [src]="rigImageUrls[0]" style="width:100%">
      </div>
      <div class="column">
        <img [src]="rigImageUrls[1]" style="width:100%">
      </div>
      <div class="column">
        <img [src]="rigImageUrls[2]" style="width:100%">
      </div>
    </div>
  </div>
  <div class="get-image">
    <button mat-button (click)="getImage()">
      <mat-icon fontSet="material-icons-outlined" class="add-pic">add_a_photo</mat-icon>
      Upload pics of your rig
    </button>
  </div>
  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "rig.component.rigTypeDesc" | translate }}</mat-label>
        <mat-select matNativeControl
                    (selectionChange)="onSelectedSelectItem('rigType', 'rig.component.rigTypeDesc', $event.source.value)"
                    (openedChange) = "onActivateSelectItem('rigType', 'rig.component.rigTypeDesc')"
                    formControlName="rigType">
          <mat-option aria-placeholder="Rig Type"
                      *ngFor="let RigType of RigTypes" [value]="RigType.value">
            {{ RigType.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" *ngIf="showrigTypeSaveIcon">save</mat-icon>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "rig.component.rigYearDesc" | translate }} (YYYY)</mat-label>
        <input matInput
                type="text"
                placeholder="Rig Year"
                formControlName="rigYear"
                (blur)="onUpdateDataPoint('rigYear')">
      </mat-form-field>
      <mat-icon class="icon" *ngIf="showrigYearSaveIcon">save</mat-icon>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "rig.component.rigManufacturer" | translate }}</mat-label>
        <input matInput
                type="text"
                placeholder="Rig manufacturer"
                formControlName="rigManufacturer"
                (blur)="onUpdateDataPoint('rigManufacturer')">
      </mat-form-field>
      <mat-icon class="icon" *ngIf="showrigManufacturerSaveIcon">save</mat-icon>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "rig.component.rigBrand" | translate }}</mat-label>
        <input matInput
                type="text"
                placeholder="Rig brand"
                formControlName="rigBrand"
                (blur)="onUpdateDataPoint('rigBrand')">
      </mat-form-field>
      <mat-icon class="icon" *ngIf="showrigBrandSaveIcon">save</mat-icon>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "rig.component.rigModel" | translate }}</mat-label>
        <input matInput
                type="text"
                placeholder="Rig model"
                formControlName="rigModel"
                (blur)="onUpdateDataPoint('rigModel')">
      </mat-form-field>
      <mat-icon class="icon" *ngIf="showrigModelSaveIcon">save</mat-icon>
    </div>

  </form>
  <br>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>

