.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.background {
  padding: 10px;
  margin-top: 50px;
}

.profile-image {
  float: left;
  max-width: 100%;
}

.get-image {
  margin-bottom: 15px;
}

.icon {
  margin-left: 10px;
}

mat-form-field {
  line-height: 1.4;
}

.row {
  display: flex;
}

.img-container {
  width: 90px;
}

.rig-images {
  margin-bottom: 15px;
}

.add-pic {
  padding-right: 5px;
}

.image {
  width: 150px;
}

.brand {
  width: 80%;
  max-width: 300px;
}
