<div class="mat-app-background mat-body-1" [ngClass]="getClass()">
  <button *ngIf="desktopUser"
          type="button"
          mat-button
          class="hyperlink"
          (click)="onBack()">
          << Go Back
  </button>
  <p class="mat-title">Profile - My Rig</p>
  <div class="rig-images">
    <div class="row">
      <div *ngFor="let rigImageUrl of rigImageUrls; let i=index">
        <div [ngClass]="desktopUser? 'desktop-img-container' : 'img-container'">
          <img [ngClass]="rigImageUrl === placeholderPhotoUrl? 'image-placeholder' : 'image'"
                [src]="rigImageUrl"
                style="width:95%"
                (click)="onViewImage(i)">
        </div>
      </div>
    </div>
  </div>
  <div class="get-image">
    <button [disabled]="nbrRigImagePics >= 3" mat-button (click)="fileInput.click()">
      <mat-icon fontSet="material-icons-outlined"
                class="add-pic"
                [ngClass]="nbrRigImagePics < 3? 'hyperlink' : 'disabled-hyperlink'">
                add_a_photo
      </mat-icon>
      <input #fileInput type="file"
              (change)="onRigImageSelected($event)"
              accept = "image/*"
              style="display:none;"/>
        <span [ngClass]="nbrRigImagePics < 3? 'hyperlink' : 'disabled-hyperlink'">
          {{ 'rig.component.uploadpics' | translate }}
        </span>
    </button>
  </div>
  <form>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "rig.component.rigTypeDesc" | translate }}</mat-label>
        <mat-select matNativeControl
                    [formControl]="rigType">
          <mat-option aria-placeholder="Rig Type"
                      *ngFor="let RigType of RigTypes"
                      [value]="RigType.value"
                      (click)="onSelectedSelectItem('rigType', 'rig.component.rigTypeDesc', RigType.value)">
            {{ RigType.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" *ngIf="showrigTypeSaveIcon">save</mat-icon>
    </div>
    <div [@rigTypeOtherSlideInOut]="rigTypeOtherOpen" class="other">
      <mat-form-field appearance="outline">
        <mat-label>Enter 'other' value</mat-label>
        <input matInput
              type="text"
              cdkFocusInitial
              [formControl]="rigTypeOther"
              (blur)="onOther('rigType')">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'rig.component.rigYearDesc' | translate }} (YYYY)</mat-label>
        <input matInput
                type="text"
                placeholder="{{ 'rig.component.rigYearDesc' | translate }}"
                [formControl]="rigYear"
                (blur)="onUpdateDataPoint('rigYear')">
      </mat-form-field>
      <mat-icon class="icon" *ngIf="showrigYearSaveIcon">save</mat-icon>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'rig.component.rigLength' | translate }} (in feet)</mat-label>
        <input matInput
                type="text"
                placeholder="{{ 'rig.component.rigLength' | translate }}"
                [formControl]="rigLength"
                (blur)="onUpdateDataPoint('rigLength')">
      </mat-form-field>
      <mat-icon class="icon" *ngIf="showrigLengthSaveIcon">save</mat-icon>
    </div>

    <mat-form-field appearance="outline" class="brand">
      <mat-label>{{ 'rig.component.rigBrand' | translate }}</mat-label>
      <input matInput
              type="text"
              placeholder="Rig brand by manufacturer"
              aria-label="RV Brand"
              [formControl]="rigBrand"
              spellcheck="false"
              [matAutocomplete]="auto"
              (blur)="updateBrand()">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onBrandSelected($event.option.value)">
        <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand.brand">
          {{brand.brand}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-icon class="icon" *ngIf="showrigBrandSaveIcon">save</mat-icon>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'rig.component.rigModel' | translate }}</mat-label>
        <input matInput
                type="text"
                placeholder="{{ 'rig.component.rigModel' | translate }}"
                [formControl]="rigModel"
                (blur)="onUpdateDataPoint('rigModel')">
      </mat-form-field>
      <mat-icon class="icon" *ngIf="showrigModelSaveIcon">save</mat-icon>
    </div>

  </form>
  <br>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>

