<mat-sidenav-container class="bg" fullscreen>
  <mat-sidenav #sidenav role="navigation" mode="push">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <app-header fxHide fxShow.gt-sm></app-header>
    <span class="spacer" fxHide fxShow.gt-sm></span>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <app-footer (sidenavToggle)="sidenav.toggle()" fxHide fxShow.lt-sm></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
