mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100vh;
}

.bg {
  /* The image used */
  background-image: URL("../assets/images/temp-background.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

mat-sidenav {
  width: 175px;
}

body {
  margin: 0;
}

main {
  padding-left: 30px;
  // margin-top: 50px;
}

.spacer {
  margin-top: 50px;
}

/* content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 20px;
  // overflow: auto;
  width: 80%;
} */
