mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100vh;
}

mat-sidenav {
  width: 40vw;
}

// Set Background attributes for content area
.container {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

// TODO: See comments in footer scss.
@media only screen and (max-width: 599px)
{ .bottom-bar-spacing { margin-bottom : 80px; }}

/* .bottom-bar-spacing {
  margin-bottom: 80px; // 10.4 vh not quite right.iphone 6 innerHeight 438, xr is 619, Galaxy x7 is 560
} */
