<!-- <mat-sidenav-container fullscreen [ngClass]="globalFontTheme | async" > -->
<!-- <mat-sidenav-container fullscreen [ngClass]="globalColorTheme | async"> -->
  <mat-sidenav-container fullscreen [ngClass]="theme">
    <mat-sidenav #sidenav role="navigation" mode="push">
      <app-rvlm-sidenav-list (sideNavClosed)="sidenav.close()"></app-rvlm-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
      <app-rvlm-header class="header" (sidenavToggle)="sidenav.toggle()" fxHide fxShow.gt-sm></app-rvlm-header>
      <app-rvlm-header-mobile class="header" (sidenavToggle)="sidenav.toggle()" fxHide fxShow.lt-sm></app-rvlm-header-mobile>
      <main class="container" [ngClass]="{'bottom-bar-spacing': userAuthorized}">
        <router-outlet></router-outlet>
      </main>
      <app-rvlm-footer *ngIf="userAuthorized" (sidenavToggle)="sidenav.toggle()" fxHide fxShow.lt-sm></app-rvlm-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <mat-sidenav-container *ngIf="!userAuthorized" fullscreen [ngClass]="theme">
    <mat-sidenav-content fxLayout="column">
      <app-header-mobile class="header" (sidenavToggle)="sidenav.toggle()" fxHide fxShow.lt-sm></app-header-mobile>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->
