mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100vh;
}

mat-sidenav {
  width: 80vw;
}

// Set Background attributes for content area
.container {
  height: 100vh;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  overflow: auto;
}

.bottom-bar-spacing {
  margin-bottom: 100px;
}

.bottom-bar-spacing-xplus {
  margin-bottom: 80px;
}
