@import './../../../styles/_variables';

.image {
  width: 100%;
}

.title {
  width: 100%;
  font-weight: bold;
}

.url {
  width: 100%;
}

.description {
  width: 100%;
}

.preview {
  margin-bottom: 15px;
  width: 90%;
  max-width: 400px;
  background-color: $light-mode-group;
}

.info {
  padding: 10px;
}
