.image {
  width: 90%;
  max-width: 400px;
}

.title {
  width: 90%;
  max-width: 400px;
  font-weight: bold;
}

.url {
  width: 90%;
  max-width: 400px;
}

.description {
  width: 90%;
  max-width: 400px;
}

.preview {
  margin-bottom: 15px;
}
