$light-primary: mat-palette($mat-indigo, 800, 300, 900);
$light-accent: mat-palette($mat-light-blue);
$light-warn: mat-palette($mat-pink, 600);

$light-theme: mat-light-theme(
  $light-primary,
  $light-accent,
  $light-warn
);

$orange-primary: mat-palette($mat-deep-orange, 700, 300, 900);
$orange-accent: mat-palette($mat-blue-grey, 400);
$orange-warn: mat-palette($mat-red, 500);

$orange-theme: mat-light-theme(
  $orange-primary,
  $orange-accent,
  $orange-warn
);

$dark-primary: mat-palette($mat-blue-grey, 700, 300, 900);
$dark-accent: mat-palette($mat-grey, 400);
$dark-warn: mat-palette($mat-red, 500);

$dark-theme: mat-dark-theme(
  $dark-primary,
  $dark-accent,
  $dark-warn
);

$bg-primary: mat-palette($mat-deep-orange, 700, 300, 900);
$bg-accent: mat-palette($mat-grey, 400);
$bg-warn: mat-palette($mat-red, 500);

$bg-theme: mat-dark-theme(
  $bg-primary,
  $bg-accent,
  $bg-warn
);
