@import './../../../../styles/_variables';

.container {
  padding: 10px;
  margin-top: 50px;
}

.hyperlink {
  color: $primary-color;
}

.topic {
  margin-left: 10px;
}

.suggest {
  margin-top: 10px;
}

mat-divider {
  border-top-width: 2px;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
