<div class="mat-app-background">
  <a href=""></a> <!-- prevents auto-scrolling to bottom of page for a long story, because will scroll to first anchor tag it finds -->
  <div>
    <div>
      <div>
        <img class="profile-image-post"
              [src]="userProfileImage"
              style="width:80px;height:80px;">
      </div>
      <div class="name-and-date">
        <div class="display-name">
          {{ data.displayName }}
        </div>
        <div>
          <button [disabled]="data.userID === data.sendingUserID"
                  mat-button
                  class="message-button"
                  (click)="onMessage()">
              <mat-icon fontSet="material-icons-outlined">messages</mat-icon>
              Message
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="story">
    {{userStory}}
  </div>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button [mat-dialog-close]="data">OK</button>
</div>
