<div class="mat-app-background background">
  <p class="mat-subheading-2">Select one or more to connect with others through forums</p>
  <button
    *ngIf="showSingleMatchForumOffer"
    [disabled]="disableSingleMatchForumOffer"
    class="mat-raised-button button"
    (click)="onForum()">
      Connect through a forum
  </button>
  <button
    *ngIf="showMultiMatchQuery"
    class="mat-raised-button button"
    (click)="onQuery()">
      Search for combined matches
  </button>
  <button
    *ngIf="showQueryCancel"
    class="mat-raised-button button"
    (click)="onCancel()">
      Cancel
  </button>
  <form *ngIf="showAllMatches" [formGroup]="form" novalidate>
    <div *ngFor="let likeMeMatch of likeMeMatches; let i=index">
      <mat-label>
        <mat-checkbox
          [checked]="likeMeMatch.id === param"
          class="checkbox"
          [value]="likeMeMatch.id"
          (change)="onCheckboxChange($event)">
        </mat-checkbox>
        {{likeMeMatch.match}}
      </mat-label>
    </div>
  </form>
  <form *ngIf="showQueryResults" [formGroup]="form" novalidate>
    <div>
      <mat-checkbox
        [checked]="queryMatches"
        class="checkbox"
        [disabled]="disableCheckbox"
        (change)="onQueryCheckboxChange($event)">
        {{ queryResultMessage }}
      </mat-checkbox>
    </div>
  </form>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>

