<div class="mat-app-background background">
  <button *ngIf="showSingleMatchForumOffer" class="mat-button">
    Connect through forum?
  </button>
  <button *ngIf="showMultiMatchQuery" class="mat-button">
    Query?
  </button>
  <form [formGroup]="form" novalidate>
    <div *ngFor="let likeMeMatch of likeMeMatches; let i=index">
      <mat-label>
        <mat-checkbox [value]="likeMeMatch.id" (change)="onCheckboxChange($event)">
        </mat-checkbox>
        {{likeMeMatch.match}}
      </mat-label>
    </div>
  </form>
</div>
