.button {
  padding-right: 10px;
}

.spinner {
  margin: auto;
}

mat-icon {
  margin-right: 5px;
}

.container {
  margin-top: 10px;
}

.eyePassword {
  margin-left: 10px;
}

.logo {
  float: left;
}
