<div class="mat-app-background mat-body-1 container">
  <p class="mat-title">Admin</p>
  <div class="load-rv-file">
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="message-input">
        <mat-label>JSON RV File Name</mat-label>

          <input matInput
                  type="text"
                  placeholder="JSON file name"
                  formControlName="rvFileName"
                  cdkFocusInitial>
      </mat-form-field>

      <div>
        <div class="button">
          <button [disabled]="!form.valid"
                  class="mat-raised-button mat-primary"
                  (click)="onBrandsByManufacturer()">
                  Load Brands by Manufacturer
          </button>
        </div>
      </div>
    </form>
    <br>
    <div class="button">
      <button class="mat-raised-button mat-primary"
              (click)="onNewBrands()">
              Find new brands
      </button>
    </div>
    <br>
    <app-rvlm-email></app-rvlm-email>
    <br>
    <app-rvlm-system-data></app-rvlm-system-data>
  </div>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
