<div class="mat-body-1">
  <div>
    <img src='./../../../../assets/images/{{landingImage}}'
          id="image"
          alt="rv view"
          class="illustration"
          [style.height]="maxRvImageHeight"
          [style.width]="maxRvImageWidth">
  </div>
  <div class="logoCombined">
    <div class="rvlikeme">
      <h2 class="mat-h2">
        <img src="./../../../../assets/images/trailer.png"
          class="logo"
          alt="travel trailer logo"
          style="width:60px;height:37.2px;">
          RV Like Me
      </h2>
    </div>
  </div>
  <br>
  <div class="container">
    <div *ngIf="httpError">
      <mat-error class="mat-subheading-2">{{ httpErrorText }}</mat-error>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <p>Please enter your new password</p>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix fontSet="material-icons-outlined">lock</mat-icon>
          <mat-label >Password</mat-label>
          <input matInput
                  [type]="hidePassword ? 'password' : 'text'"
                  placeholder="Password"
                  autocapitalize="none"
                  formControlName="password"
                  autocomplete="new-password"
                  required>
          <mat-error *ngIf="errorHandling('password', 'required')">
            Please enter your <strong>Password</strong>
          </mat-error>
        </mat-form-field>
        <mat-icon matSuffix class="eyePassword" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </div>
      <div class="button">
        <button type="submit" class="mat-raised-button mat-primary"
                [disabled]="!form.valid || showSpinner">Submit</button>
      </div>
    </form>
  </div>
</div>
