@import './../../../styles/_variables';

.container {
  padding: 10px;
}

.logoCombined {
  position: absolute;
  top: 0px;
  left: 0px;
}

.rvlikeme {
  position: relative;
  float: right;
  top: 5px;
  left: 5px;
  color: white;
}

.logo {
  float: left;
}

.body {
  margin-top: 20px;
  padding: 10px;
}

.button {
  float: left;
  margin-right: 10px;
}

.welcome {
  padding: 10px;
  text-align: center;
}

.button {
  margin-top: 20px;
}

.eyePassword {
  margin-left: 10px;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
