<div class="mat-app-background container">
  <p class="mat-body">{{ "profile.component.explanation" | translate }}</p>
  <mat-list>
    <div class="row" (click)="onPersonal()">
      <mat-icon class="icon" fontSet="material-icons-outlined">person</mat-icon>
      <mat-list-item>{{ "profile.component.personal" | translate }}
        ({{ "profile.component.personalex" | translate }})
        {{ percentPersonal  | number:'1.0-0'}}%</mat-list-item>
      <mat-icon class="row-item navigation">keyboard_arrow_right</mat-icon>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="row" (click)="onLifestyle()">
      <mat-icon class="icon" fontSet="material-icons-outlined">tag_faces</mat-icon>
      <mat-list-item class="row-item">{{ "profile.component.lifestyle" | translate }}
        ({{ "profile.component.lifestyleex" | translate }})
        {{ percentLifestyle  | number:'1.0-0'}}%</mat-list-item>
      <mat-icon class="row-item navigation">keyboard_arrow_right</mat-icon>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="row" (click)="onRig()">
      <mat-icon class="icon" fontSet="material-icons-outlined">rv_hookup</mat-icon>
      <mat-list-item class="row-item">{{ "profile.component.rig" | translate }}
        ({{ "profile.component.rigex" | translate }})
        {{ percentRig  | number:'1.0-0'}}%</mat-list-item>
      <mat-icon class="row-item navigation">keyboard_arrow_right</mat-icon>
    </div>
    <mat-divider class="divider"></mat-divider>
  </mat-list>
  <br>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-select formControlName="language"
                  placeholder="{{ 'profile.component.preferred-language' | translate }}"
                  (selectionChange)="setLanguage($event.source.value)"
                  aria-label="select language">
        <mat-option value='en'>{{ "profile.component.english" | translate }}</mat-option>
        <mat-option value='es'>{{ "profile.component.spanish" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
