@import './../../../styles/_variables';

.background {
  padding: 10px;
  margin-top: 50px;
}

.thumbs-up-icon {
  margin-left: 10px;
  color: $primary-color;
}

.percent-complete {
  position: relative;
  padding-left: 5px;
  font-size: 75%;
}
.row {
  display: flex;
  margin-bottom: 10px;
}

.divider {
  margin-left: 40px;
  margin-right: 10px;
}

.list {
  width: 300px;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  width: 90%;
}

.no-interests {
  color: $warn-color;
  margin-left: 10px;
}

.has-interests {
  color: $primary-color;
  margin-left: 10px;
}

.icon {
  position: relative;
  top: 12px;
  left: 5px;
}

.navigation {
  font-size: 200%;
  position: relative;
  top: 8px;
  right: 10px;
  color: $primary-color;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

mat-form-field {
  line-height: 1.4;
}
