<div class="mat-app-background container">
  <p class="mat-body">Information about you to connect you with people who RV like you do</p>
  <mat-list>
    <!-- <mat-divider class="divider"></mat-divider> -->
    <div class="row" (click)="onPersonal()">
      <mat-icon class="icon" fontSet="material-icons-outlined">person</mat-icon>
      <mat-list-item>Personal (people like you)</mat-list-item>
      <mat-icon class="row-item navigation">keyboard_arrow_right</mat-icon>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="row" (click)="onLifestyle()">
      <mat-icon class="icon" fontSet="material-icons-outlined">tag_faces</mat-icon>
      <mat-list-item class="row-item">Lifestyle (lives like you)</mat-list-item>
      <mat-icon class="row-item navigation">keyboard_arrow_right</mat-icon>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="row" (click)="onRig()">
      <mat-icon class="icon" fontSet="material-icons-outlined">rv_hookup</mat-icon>
      <mat-list-item class="row-item">Rig (RV like yours)</mat-list-item>
      <mat-icon class="row-item navigation">keyboard_arrow_right</mat-icon>
    </div>
    <mat-divider class="divider"></mat-divider>
  </mat-list>
</div>

