<div class="mat-app-background mat-body-1" [ngClass]="getClass()">
  <p class="mat-title">{{ 'aboutme.component.heading' | translate}}</p>
  <div>
    <img src="./../../../assets/images/dave.jpg" class="dave-image" (click)="onDaveStory()">
    <div class="dave">
      <p>{{ 'aboutme.component.daveIntro' | translate }}</p>
    </div>
  </div>
  <div class="dave-story">
    <p>{{ 'aboutme.component.clickPhoto' | translate }}</p>
    <p>{{ 'aboutme.component.questions' | translate }} <a href="mailto:dave@rvlikeme.com" class="hyperlink">dave@rvlikeme.com</a>.</p>
    <mat-divider></mat-divider>
    <p>{{ 'aboutme.component.body1' | translate }}</p>
    <p>{{ 'aboutme.component.body2' | translate }}  {{ 'aboutme.component.body3' | translate }}</p>
  </div>
</div>
