<div class="mat-app-background background">
  <h2 class="mat-title">Settings</h2>
  <p *ngIf="theme === 'light-theme'">
    <a mat-menu-item (click)="onSelectTheme('dark-theme')">
      <mat-icon matPrefix fontSet="material-icons-outlined">brightness_medium</mat-icon>
      {{ "account.darkTheme" | translate }}
    </a>
  </p>
  <p *ngIf="theme === 'dark-theme'">
    <a mat-menu-item (click)="onSelectTheme('light-theme')">
      <mat-icon matPrefix fontSet="material-icons-outlined">brightness_medium</mat-icon>
      {{ "account.lightTheme" | translate }}
    </a>
  </p>
  <p>
    <a mat-menu-item
      (click)="onSubscribeNotifications()">
      <mat-icon fontSet="material-icons-outlined" >add_alert</mat-icon>
      <span class="nav-caption">{{ "menu.subscribe" | translate }}</span>
    </a>
  </p>

  <p>
    <a mat-menu-item
      (click)="onUnsubscribeNotifications()">
      <mat-icon fontSet="material-icons-outlined" >remove_circle</mat-icon>
      <span class="nav-caption">{{ "menu.unsubscribe" | translate }}</span>
    </a>
  </p>

  <p>
    <a mat-menu-item
      (click)="onNotify()">
      <mat-icon fontSet="material-icons-outlined" >add_alert</mat-icon>
      <span class="nav-caption">notify</span>
    </a>
  </p>

  <p>
    <a mat-menu-item
      *ngIf="showInstallLink"
      (click)="onInstallApp()">
      <mat-icon fontSet="material-icons-outlined" >save_alt</mat-icon>
      <span class="nav-caption">{{ "menu.install" | translate }}</span>
    </a>
  </p>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
