<div class="mat-app-background background">
  <h2 class="mat-h2">Settings content</h2>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-select formControlName="language"
                  placeholder="{{ 'settings.component.preferred-language' | translate }}"
                  (selectionChange)="setLanguage($event.source.value)"
                  aria-label="select language">
        <mat-option value='en'>{{ "settings.component.english" | translate }}</mat-option>
        <mat-option value='es'>{{ "settings.component.spanish" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>stuff1</p>
    <p>stuff2</p>
    <p>stuff3</p>
    <p>stuff4</p>
    <p>stuff5</p>
    <p>stuff6</p>
    <p>stuff7</p>
    <p>stuff8</p>
    <p>stuff9</p>
    <p>stuff10</p>
    <p>stuff11</p>
    <p>stuff12</p>
    <p>stuff13</p>
    <p>stuff14</p>
    <p>stuff15</p>
    <p>stuff16</p>
    <p>stuff17</p>
    <p>stuff18</p>
    <p>stuff19</p>
    <p>stuff20</p>
    <p>stuff21</p>
    <p>stuff22</p>
    <p>stuff23</p>
    <p>stuff25</p>
    <p>stuff26</p>
    <p>stuff27</p>
    <p>stuff28</p>
    <p>stuff29</p>
    <p>stuff30</p>
  </form>
</div>
