@import './../../../../styles/_variables';

.container {
  margin-top: 50px;
  overflow: auto;
}

.bottom-bar-spacing {
  margin-bottom: 50px;
}

.bottom-bar-spacing-xplus {
  margin-bottom: 80px;
}

.hyperlink {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

.group-list {
  padding-left: 10px;
  padding-right: 10px;
}

.group-heading {
  float: left;
  background-color: #e0e0e0;
  padding: 10px;
  width: 100%;
}

.options {
  float: right;
  padding-right: 20px;
}

.options-icons {
  padding-left: 10px;
}

.posts {
  clear: left;
}

.group-attributes {
  margin-left: 5px;
  font-size: 90%;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
