<div class="mat-app-background container mat-body-1" [ngClass]="getClass()">
  <div class="mat-title">{{ 'changePassword.component.title' | translate }}</div>
  <br>
  <div *ngIf="httpError">
    <mat-error class="mat-subheading-2">{{ httpErrorText }}</mat-error>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix fontSet="material-icons-outlined">lock</mat-icon>
        <mat-label >{{ 'changePassword.component.current' | translate }}</mat-label>
        <input matInput
                [type]="hidePassword ? 'password' : 'text'"
                placeholder="{{ 'changePassword.component.password' | translate}}"
                autocapitalize="none"
                formControlName="currentPassword"
                autocomplete="new-password"
                required>
        <mat-error *ngIf="errorHandling('currentPassword', 'required')">
          {{ 'changePassword.component.pleaseEnter' | translate}} <strong>{{ 'changePassword.component.password' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <mat-icon matSuffix class="eyePassword" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix fontSet="material-icons-outlined">lock</mat-icon>
        <mat-label >{{ 'changeUsername.component.newPassword' | translate}}</mat-label>
        <input matInput
                [type]="hidePassword ? 'password' : 'text'"
                placeholder="{{ 'changePassword.component.password' | translate}}"
                autocapitalize="none"
                formControlName="newPassword"
                autocomplete="new-password"
                required>
        <mat-error *ngIf="errorHandling('newPassword', 'required')">
          {{ 'changePassword.component.pleaseEnter' | translate}} <strong>{{ 'changePassword.component.password' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <mat-icon matSuffix class="eyePassword" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </div>
    <div class="button">
      <button type="submit" class="mat-raised-button mat-primary"
              [disabled]="!form.valid || showSpinner">{{ 'changePassword.component.submit' | translate}}</button>
    </div>
  </form>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
