<div class="mat-app-background">
  <h2 class="mat-h2">{{ "home.component.header" | translate}} - UNDER CONSTRUCTION</h2>
  <p class="mat-subheading-2">Creating container.  Capabilities developed to date:</p>
  <mat-list>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Progressive Web App - certified with Lighthouse "Fast and reliable", "Installable", "PWA Optomized"</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Works off-line</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Mobile-first design</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>High-performing - 89% so far per Lighthouse</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Secured with https</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Responsive design - looks good on desktop as well</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Ability to switch color themes dynamically through Angular Material custom themes</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Automatic font adjustment based on device for more natural app feel through Angular Material custom typography</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Secure RVLikeMe domain</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Deployed in AWS using S3, CloudFront, Elastic BeanStalk</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>MongoDB Atlas database</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Google Analytics</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Fixed bottom menu for mobile and top menu when desktop, both with SideNav</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Dynamic language translation</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>100% Accessible per Lighthouse</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>100% Best Practices per Lighthouse</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>100% Search Engine Optimization per Lighthouse</mat-list-item>
    <mat-list-item><mat-icon matListIcon>fiber_manual_record</mat-icon>Single Page Application with Routing for individual page URLS</mat-list-item>
  </mat-list>
</div>
