 @import './../../styles/_variables';

 .container-desktop {
  height: 100vh;
  background-size: 100%;
  background-image: url('./../../assets/images/landing-page.jpeg');
  background-repeat: no-repeat;
  background-color: #734E46;
}

.container-device {
  height: 100vh;
  background-size: 100%;
  background-image: url('./../../assets/images/landing-page.jpg');
  background-repeat: no-repeat;
  background-color: #734E46;
}

// .content-desktop1 {
//   padding-top: 10%;
//   padding-left: 5%;
//   width: 350px;
// }

// .content-device1 {
//   padding-top: 5px;
//   padding-left: 10px;
//   width: 100%;
//   box-sizing: border-box;
// }

// .content-desktop {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }

// .content-device {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }

.group-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.group-device {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.content-desktop {
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.content-device {
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.header {
  width: 100%;
}

.logoCombined {
  float: left;
}

.logo {
  float: left;
}

.rvlikeme {
  position: relative;
  float: right;
  top: 5px;
  left: 5px;
  color: white;
}

.logins {
  float: right;
}

.login {
  background: rgb(246,166,77, 0.80);
  color: white;
  margin-top: 5px;
  margin-right: 10px;
}

.fabs {
 width: 100%;
//  padding-top: 60px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 height: 80px;
 padding-bottom: 10px;
}

.fab {
  line-height: 1.2;
  overflow-wrap: normal;
  font-size: 80%;
  margin-left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  background: rgb(246,166,77, 0.80);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background: rgb(246,166,77, 0.80);
  color: white;
  margin-top: 16px;
  width: 225px;
}

.text {
  margin-top: 5px;
}

.heading {
  font-size: 200%;
  font-weight: bold;
}

.describes {
  text-align: center;
}

.content-text {
  font-size: 120%;
}

.hiker {
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
}

.hiker2 {
  font-style: italic
}
