/* .container {
  height: 100vh;
  overflow: auto;
  padding: 10px
}
 */
.rvlikeme {
  position: relative;
  float: right;
  top: 5px;
  left: 5px;
  color: white;
}

.logo {
  float: left;
}

.logoCombined{
  position: absolute;
  top: 0px;
  left: 0px;
}

.logoMobile {
  float: left;
}

.logoDesktop {
  top: 0;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 20px;
}

.construction {
  text-align: center;
}
