<div>
  <img src='./../../assets/images/{{landingImage}}'
  alt="rv view"
  class="illustration"
  style="max-width: 900px">
</div>
<div class="rvlikeme">
  <h2 class="mat-h2"><img src="../../../assets/images/trailer.png"
    class="logo"
    alt="travel trailer logo"
    style="width:60px;height:37.2px;">RV Like Me</h2>
</div>
<div class="mat-app-background container">
  <button mat-flat-button class="button" color="primary" (click)="registerUser()">Sign up for free</button>
  <button mat-stroked-button class="button" (click)="signIn()">Log in</button>
  <button mat-stroked-button class="button" (click)="learnMore()">What is RV Like Me?</button>
  <p>v7</p>
</div>
