<div *ngIf="showLanding" class="mat-app-background container">
  <span class="mat-display-2 hook marketing-message">
    4Connect with people who RV like you do
  </span>
  <p class="mat-body marketing-message">
    Whether you are
  </p>
  <p class="mat-body marketing-message sub-text">
    full-time traveling or stationary,
  </p>
  <p class="mat-body marketing-message sub-text">
    driving solo or with the family,
  </p>
  <p class="mat-body marketing-message sub-text">
    a big rig or a small trailer,
  </p>
  <p class="mat-body marketing-message">
    we are here to connect you with other RV'ers who do the RV lifestyle the way you do!
  </p>
  <br>
  <div class="button">
    <button mat-flat-button color="primary" (click)="registerUser()">Sign up for free</button>
  </div>
  <br>
  <div class="button">
    <button mat-button color="primary" (click)="learnMore()">Learn more</button>
  </div>
</div>
<div *ngIf="showLearnMore" class="mat-app-background background">
  <app-rvlm-learn-more
    (toggle)="toggleLearnMore($event)">
  </app-rvlm-learn-more>
</div>
<div *ngIf="showSignin" class="mat-app-background background">
  <app-rvlm-signin
    (toggle)="toggleSignin($event)">
  </app-rvlm-signin>
</div>
<div *ngIf="showRegisterUser" class="mat-app-background background">
  <app-rvlm-register-user
    (toggle)="toggleRegisterUser($event)">
  </app-rvlm-register-user>
</div>



