<div class="mat-app-background container">
  <a href=""></a> <!-- prevents auto-scrolling to bottom of page for a long story, because will scroll to first anchor tag it finds -->
  <div>
    <div>
      <div>
        <img class="profile-image-post"
              [src]="userProfileImage"
              style="width:80px;height:80px;">
      </div>
      <div class="name-and-date">
        <div class="display-name">
          {{ userDisplayName }}
        </div>
        <div>
          <button [disabled]="userIdViewer === userID"
                  mat-button
                  class="message-button"
                  (click)="onMessage()">
              <mat-icon fontSet="material-icons-outlined">messages</mat-icon>
              Message
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="attributes">
    <p><span class="attribute-label">RV Experience:</span> {{ userAboutMe | translate }}</p>
    <p><span class="attribute-label">How Rvs:</span> {{ userRvUse | translate }}</p>
    <p><span class="attribute-label">Rig type:</span> {{ userRigType | translate }}</p>
  </div>
  <div>
    <div class="story-heading mat-title">
      Story of {{ userDisplayName }}
    </div>
    <div class="story">
      {{ userMyStory }}
    </div>
  </div>
</div>

