  <div class="container">
    <br><p class="mat-subheader-2 resources">Helpful Resources</p>
    <p>
      {{ 'newbie-links.component.helpfulResources1' | translate }} {{ topicDescSentence | translate }}, {{ 'newbie-links.component.helpfulResources2' | translate }}.
    </p>
    <div *ngIf="showMenu">
      <mat-icon class="menu"
                matPrefix
                [matMenuTriggerFor]="beforeMenu">
        more_horiz
      </mat-icon>
    </div>
  <div>
    <mat-menu #beforeMenu="matMenu"
              xPosition="before">
      <button mat-menu-item (click)="showLinkAuthor = !showLinkAuthor">
        <mat-icon matPrefix fontSet="material-icons-outlined">create</mat-icon>
        <span *ngIf="!showLinkAuthor">{{ 'newbie-links.component.showAuthor' | translate }}</span>
        <span *ngIf="showLinkAuthor">{{ 'newbie-links.component.noShowAuthor' | translate }}</span>
      </button>
    </mat-menu>
  </div>
    <div id="profileImage" class="profile-image">
      <img class="image"
        [src]="profile.profileImageUrl"
        style="width:50px;height:50px;">
    </div>
    <div>
      <button mat-button (click)="onAddLink()" class="hyperlink">
        <mat-icon fontSet="material-icons-outlined">add_circle_outline</mat-icon>
        <span>{{ 'newbie-links.component.addLink' | translate}} {{ profile.displayName }}</span>
      </button>
    </div>
    <div *ngIf="showAddLink" class="add-link">
      <div [formGroup]="form">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'newbie-links.component.linkDesc' | translate }}</mat-label>
            <input matInput
                    type="text"
                    placeholder="Link description"
                    formControlName="linkName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'newbie-links.component.link' | translate }}</mat-label>
            <input matInput
                    type="url"
                    placeholder="http://www.example.com"
                    formControlName="link">
          </mat-form-field>
        </div>
        <div>
          <button type="submit"
                  class="mat-raised-button mat-primary button"
                  [disabled]="!form.valid"
                  (click)="onSubmit()">
                  {{ 'newbie-links.component.submit' | translate }}
          </button>
          <button class="mat-raised-button"
                  (click)="onCancel()">
                  {{ 'newbie-links.component.cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="links">
      <div *ngFor="let link of newbieLinks">
        <a href="{{ link.link }}" class="hyperlink external link" target="_blank">
          <span>{{ link.linkName }}</span>
        </a>
        <div *ngIf="showLinkAuthor" class="author">
          <div>
            <img class="image profile-image-post"
                  [src]="link.createdByProfileImageUrl"
                  style="width:40px;height:40px;">
          </div>
          <div class="name-and-date">
            <div class="display-name">
              Added by {{ link.createdByDisplayName }} on
            </div>
            <div>
              {{ link.createdAt | date:'short'}}
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
  </div>
