@import './../../../../../styles/_variables';

.container {
  clear: left;
  margin-top: 10px;
}

.button {
  margin-right: 10px;
}

.resources {
  font-weight: bold;
}

.hyperlink {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

.profile-image {
  float: left;
}

.image {
  border-radius: 50%;
}

.profile-image-post {
  float: left;
}

.author {
  margin-left: 15px;
  cursor: pointer;
}

.add-link {
  clear: left;
  margin-top: 10px;
}

.name-and-date {
  margin-left: 50px;
  font-size: 80%;
  line-height: 1.5;
}

.external {
  text-decoration: none; // Don't show underline on link
}

.menu {
  float: right;
  cursor: pointer;
}

.links {
  clear: left;
  margin-top: 10px;
  margin-left: 10px;
}

.link {
  line-height: 2;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
