<mat-toolbar color="primary" class="toolbar" role="toolbar">
  <div class="mat-h3" fxFlex fxLayout fxLayoutAlign="start">
    <mat-icon mat-button *ngIf="showBackArrow"
      class="back-arrow toolbar-item"
      alt="back arrow"
      (click)="returnToBackRoute()">{{ arrowIcon }}
    </mat-icon>
    <img *ngIf="pageTitle === 'RV Like Me'" src="../../../assets/images/trailer.png"
          alt="travel trailer logo"
          style="width:60px;height:37.2px;">
    <span class="page-title toolbar-item">{{ pageTitle }}</span>
    <span class="fill-space"></span>
    <button *ngIf="!userAuthorized && signinVisible"
            mat-button
            class="toolbar-item"
            (click)="signIn()">Sign in
    </button>
    <button *ngIf="!userAuthorized && registerVisible"
            mat-button
            class="toolbar-item"
            (click)="register()">Sign up for free
    </button>
    <button *ngIf="userAuthorized"
            mat-button
            class="toolbar-item"
            [matMenuTriggerFor]="beforeMenu">
            <mat-icon matPrefix >account_circle</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="changeUsername()">
        <mat-icon matPrefix fontSet="material-icons-outlined">email</mat-icon>
        Change username
      </button>
      <button mat-menu-item>
        <mat-icon matPrefix fontSet="material-icons-outlined">lock</mat-icon>
        Change password
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon fontSet="material-icons-outlined" >eject</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

