@import './../../../stylings/_variables.scss';

.toolbar {
  display: flex;
  height: 50px;
  position: fixed;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: $seperator-color;
  top: 0;
  z-index: 1; // To make sure content flows under toolbar
}

/* .toolbar-item {
  line-height: 50px;
} */

.fill-space {
  flex: 1 1 auto;
}

.back-arrow {
  padding-right: 10px;
}

.page-title {
  font-size: 120%;
}
