<div class="background">
  <div>
    <p class="mat-body">{{ "interests.component.explanation" | translate}}</p>
  </div>

<!--   <div class="save-icon">
    <span><mat-icon *ngIf="showSaveIcon">save</mat-icon></span>
  </div> -->

  <!-- It would have been nicer to just generate the checkboxes based on an array of field names, but I need to store
        each separately in Mongo as they are critical for querying individually, so went with individual here
        and in the model. Although, this also causes a sorting issue.  These are sorted manually and by translation desc.
        In other languages, will not be sorted.  Something to consider.-->
  <form [formGroup]="form">
      <mat-checkbox formControlName="atv"
                    class="checkbox"
                    (change)="updateLifestyle('atv', $event)">
          {{ "interests.component.atv" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="blogging"
                  class="checkbox"
                  (change)="updateLifestyle('blogging', $event)">
              {{ "interests.component.blogging" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="programming"
                  class="checkbox"
                  (change)="updateLifestyle('programming', $event)">
              {{ "interests.component.programming" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="mobileInternet"
                  class="checkbox"
                  (change)="updateLifestyle('mobileInternet', $event)">
              {{ "interests.component.mobileInternet" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="cooking"
                  class="checkbox"
                  (change)="updateLifestyle('cooking', $event)">
            {{ "interests.component.cooking" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="gaming"
                  class="checkbox"
                  (change)="updateLifestyle('gaming', $event)">
              {{ "interests.component.gaming" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="livingFrugally"
                  class="checkbox"
                  (change)="updateLifestyle('livingFrugally', $event)">
              {{ "interests.component.livingFrugally" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="motorcycle"
                    class="checkbox"
                    (change)="updateLifestyle('motorcycle', $event)">
              {{ "interests.component.motorcycle" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="musicalInstrument"
                  class="checkbox"
                  (change)="updateLifestyle('musicalInstrument', $event)">
              {{ "interests.component.musicalInstrument" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="painting"
                  class="checkbox"
                  (change)="updateLifestyle('painting', $event)">
            {{ "interests.component.painting" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="quilting"
                  class="checkbox"
                  (change)="updateLifestyle('quilting', $event)">
            {{ "interests.component.quilting" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="travel"
                  class="checkbox"
                  (change)="updateLifestyle('travel', $event)">
            {{ "interests.component.travel" | translate }}
      </mat-checkbox>
  </form>
  <br>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>

