<div class="mat-app-background mat-body-1" [ngClass]="getClass()">
  <button *ngIf="desktopUser"
          type="button"
          mat-button
          class="hyperlink"
          (click)="onBack()">
          << Go Back
  </button>
  <p class="mat-title">Profile - My Interests</p>
  <div>
    <p class="mat-body">{{ "interests.component.explanation" | translate}}</p>
  </div>

<!--   <div class="save-icon">
    <span><mat-icon *ngIf="showSaveIcon">save</mat-icon></span>
  </div> -->

  <!-- It would have been nicer to just generate the checkboxes based on an array of field names, but I need to store
        each separately in Mongo as they are critical for querying individually, so went with individual here
        and in the model. Although, this also causes a sorting issue.  These are sorted manually and by translation desc.
        In other languages, will not be sorted.  Something to consider.-->
  <div class="background mat-elevation-z2"
        [ngClass]="theme === 'dark-theme'? 'box-background-dark' : 'box-background-light'">
    <form [formGroup]="form">
      <mat-checkbox formControlName="atv"
                    class="checkbox"
                    (change)="onUpdateInterest('atv', $event)">
                    {{ "interests.component.atv" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="blogging"
                    class="checkbox"
                    (change)="onUpdateInterest('blogging', $event)">
                    {{ "interests.component.blogging" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="boondock"
                    class="checkbox"
                    (change)="onUpdateInterest('boondock', $event)">
                    {{ "interests.component.boondock" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="cooking"
                    class="checkbox"
                    (change)="onUpdateInterest('cooking', $event)">
                    {{ "interests.component.cooking" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="crocheting"
                    class="checkbox"
                    (change)="onUpdateInterest('crocheting', $event)">
                    {{ "interests.component.crocheting" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="fishing"
                    class="checkbox"
                    (change)="onUpdateInterest('fishing', $event)">
                    {{ "interests.component.fishing" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="gaming"
                    class="checkbox"
                    (change)="onUpdateInterest('gaming', $event)">
                    {{ "interests.component.gaming" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="hiking"
                    class="checkbox"
                    (change)="onUpdateInterest('hiking', $event)">
                    {{ "interests.component.hiking" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="hunting"
                    class="checkbox"
                    (change)="onUpdateInterest('hunting', $event)">
                    {{ "interests.component.hunting" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="kayaking"
                    class="checkbox"
                    (change)="onUpdateInterest('kayaking', $event)">
                    {{ "interests.component.kayaking" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="knitting"
                    class="checkbox"
                    (change)="onUpdateInterest('knitting', $event)">
                    {{ "interests.component.knitting" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="livingFrugally"
                    class="checkbox"
                    (change)="onUpdateInterest('livingFrugally', $event)">
                    {{ "interests.component.livingFrugally" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="mobileInternet"
                    class="checkbox"
                    (change)="onUpdateInterest('mobileInternet', $event)">
                    {{ "interests.component.mobileInternet" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="motorcycle"
                    class="checkbox"
                    (change)="onUpdateInterest('motorcycle', $event)">
                    {{ "interests.component.motorcycle" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="offGridLiving"
                    class="checkbox"
                    (change)="onUpdateInterest('offGridLiving', $event)">
                    {{ "interests.component.offGridLiving" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="painting"
                    class="checkbox"
                    (change)="onUpdateInterest('painting', $event)">
                    {{ "interests.component.painting" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="musicalInstrument"
                    class="checkbox"
                    (change)="onUpdateInterest('musicalInstrument', $event)">
                    {{ "interests.component.musicalInstrument" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="programming"
                    class="checkbox"
                    (change)="onUpdateInterest('programming', $event)">
                    {{ "interests.component.programming" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="quilting"
                    class="checkbox"
                    (change)="onUpdateInterest('quilting', $event)">
                    {{ "interests.component.quilting" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="solarPower"
                    class="checkbox"
                    (change)="onUpdateInterest('solarPower', $event)">
                    {{ "interests.component.solarPower" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="travel"
                    class="checkbox"
                    (change)="onUpdateInterest('travel', $event)">
                    {{ "interests.component.travel" | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="yoga"
                    class="checkbox"
                    (change)="onUpdateInterest('yoga', $event)">
                    {{ "interests.component.yoga" | translate }}
      </mat-checkbox>
      <mat-divider></mat-divider>
      <br>
      <button mat-button type="button" class="hyperlink" (click)="onSuggestInterestOpen()">Suggest a new interest</button>
      <div [@suggestInterestSlideInOut]="suggestInterestOpen" class="other">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Suggest interest</mat-label>
            <input matInput
                  type="text"
                  placeholder="suggestion"
                  cdkFocusInitial
                  (change)="readyToSuggest = true"
                  formControlName="suggestInterest">
          </mat-form-field>
        </div>
        <div>
          <button [disabled]="!readyToSuggest" type="submit" mat-raised-button class="mat-primary" (click)="onSuggestInterest()">Submit</button>
        </div>
      </div>
    </form>

    <button mat-button (click)='onBottomBack()'><span class="hyperlink">Back to main Profile Page</span></button>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>

