<div class="mat-app-background mat-body-1" [ngClass]="getClass()">
  <div>
    <img class="image" src="{{imageSource}}">
  </div>
  <div>
    <button [disabled]="deactivateButtons" type="submit" class="mat-raised-button mat-primary button" (click)="onOK()">OK</button>
    <button *ngIf="imageOwner" [disabled]="deactivateButtons" type="button" class="mat-raised-button button" (click)="fileInput.click()">
      <input #fileInput type="file"
              accept = "image/*"
              (change)="onChange($event)"
              style="display:none;"/>
        <span>Change</span>
    </button>
    <button *ngIf="imageOwner" [disabled]="deactivateButtons" type="button" class="mat-raised-button button" (click)="onDelete()">Delete</button>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
