<div class="mat-app-background container">
  <div>
    <p class="mat-body">{{ "lifestyle.component.explanation" | translate}}</p>
  </div>
  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "lifestyle.component.rvUseDesc" | translate }}</mat-label>
        <mat-select
          matNativeControl
          (selectionChange)="selectedSelectItem('rvUse', $event.source.value)"
          (openedChange) = "activatedSelectItem('rvUse')"
          formControlName="rvUse">
          <mat-option
            aria-placeholder="RV Lifestyle"
            *ngFor="let RvLifestyle of RvLifestyles" [value]="RvLifestyle.value">
            {{ RvLifestyle.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="rvUseHelp()">help</mat-icon>
      <mat-icon class="icon" *ngIf="showRvUseSaveIcon">save</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "lifestyle.component.worklifeDesc" | translate }}</mat-label>
        <mat-select
          matNativeControl
          (selectionChange)="selectedSelectItem('worklife', $event.source.value)"
          (openedChange) = "activatedSelectItem('worklife')"
          formControlName="worklife">
          <mat-option
            aria-placeholder="work life"
            *ngFor="let Worklife of Worklives" [value]="Worklife.value">
            {{ Worklife.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="worklifeHelp()">help</mat-icon>
      <mat-icon class="icon" *ngIf="showWorklifeSaveIcon">save</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "lifestyle.component.campsWithMeDesc" | translate }}</mat-label>
        <mat-select
          matNativeControl
          (selectionChange)="selectedSelectItem('campsWithMe', $event.source.value)"
          (openedChange) = "activatedSelectItem('campsWithMe')"
          formControlName="campsWithMe">
          <mat-option
            aria-placeholder="Camps with me"
            *ngFor="let CampsWithMe of CampsWithMes" [value]="CampsWithMe.value">
            {{ CampsWithMe.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="campsWithMeHelp()">help</mat-icon>
      <mat-icon class="icon" *ngIf="showCampsWithMeSaveIcon">save</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "lifestyle.component.boondockingDesc" | translate }}</mat-label>
        <mat-select
          matNativeControl
          (selectionChange)="selectedSelectItem('boondocking', $event.source.value)"
          (openedChange) = "activatedSelectItem('boondocking')"
          formControlName="boondocking">
          <mat-option
            aria-placeholder="Boondocking"
            *ngFor="let Boondocking of Boondockings" [value]="Boondocking.value">
            {{ Boondocking.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="boondockingHelp()">help</mat-icon>
      <mat-icon class="icon" *ngIf="showBoondockingSaveIcon">save</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "lifestyle.component.travelingDesc" | translate }}</mat-label>
        <mat-select
          matNativeControl
          (selectionChange)="selectedSelectItem('traveling', $event.source.value)"
          (openedChange) = "activatedSelectItem('traveling')"
          formControlName="traveling">
          <mat-option
            aria-placeholder="Traveling"
            *ngFor="let Traveling of Travelings" [value]="Traveling.value">
            {{ Traveling.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="travelingHelp()">help</mat-icon>
      <mat-icon class="icon" *ngIf="showTravelingSaveIcon">save</mat-icon>
    </div>
  </form>
  <br>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
