<div class="mat-app-background background">
  <div>
    <p class="mat-body">{{ "lifestyle.component.explanation" | translate}}</p>
  </div>
  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "lifestyle.component.rvUseDesc" | translate }}</mat-label>
        <mat-select
          matNativeControl
          (selectionChange)="selectedSelectItem('rvUse', 'lifestyle.component.rvUseDesc', $event.source.value)"
          (openedChange) = "activatedSelectItem('rvUse', 'lifestyle.component.rvUseDesc')"
          formControlName="rvUse">
          <mat-option
            aria-placeholder="RV Lifestyle"
            *ngFor="let RvLifestyle of RvLifestyles" [value]="RvLifestyle.value">
            {{ RvLifestyle.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="formFieldHelp('lifestyle.component.helpRvUse')">help</mat-icon>
      <mat-icon class="icon" *ngIf="showrvUseSaveIcon">save</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "lifestyle.component.worklifeDesc" | translate }}</mat-label>
        <mat-select
          matNativeControl
          (selectionChange)="selectedSelectItem('worklife', 'lifestyle.component.worklifeDesc', $event.source.value)"
          (openedChange) = "activatedSelectItem('worklife', 'lifestyle.component.worklifeDesc')"
          formControlName="worklife">
          <mat-option
            aria-placeholder="work life"
            *ngFor="let Worklife of Worklives" [value]="Worklife.value">
            {{ Worklife.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="formFieldHelp('lifestyle.component.helpRvUse')">help</mat-icon>
      <mat-icon class="icon" *ngIf="showworklifeSaveIcon">save</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "lifestyle.component.campsWithMeDesc" | translate }}</mat-label>
        <mat-select
          matNativeControl
          (selectionChange)="selectedSelectItem('campsWithMe', 'lifestyle.component.campsWithMeDesc', $event.source.value)"
          (openedChange) = "activatedSelectItem('campsWithMe', 'lifestyle.component.campsWithMeDesc')"
          formControlName="campsWithMe">
          <mat-option
            aria-placeholder="Camps with me"
            *ngFor="let CampsWithMe of CampsWithMes" [value]="CampsWithMe.value">
            {{ CampsWithMe.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="formFieldHelp('lifestyle.component.helpRvUse')">help</mat-icon>
      <mat-icon class="icon" *ngIf="showcampsWithMeSaveIcon">save</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "lifestyle.component.boondockingDesc" | translate }}</mat-label>
        <mat-select
          matNativeControl
          (selectionChange)="selectedSelectItem('boondocking', 'lifestyle.component.boondockingDesc', $event.source.value)"
          (openedChange) = "activatedSelectItem('boondocking', 'lifestyle.component.boondockingDesc')"
          formControlName="boondocking">
          <mat-option
            aria-placeholder="Boondocking"
            *ngFor="let Boondocking of Boondockings" [value]="Boondocking.value">
            {{ Boondocking.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="formFieldHelp('lifestyle.component.helpRvUse')">help</mat-icon>
      <mat-icon class="icon" *ngIf="showboondockingSaveIcon">save</mat-icon>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "lifestyle.component.travelingDesc" | translate }}</mat-label>
        <mat-select
          matNativeControl
          (selectionChange)="selectedSelectItem('traveling', 'lifestyle.component.travelingDesc', $event.source.value)"
          (openedChange) = "activatedSelectItem('traveling', 'lifestyle.component.travelingDesc')"
          formControlName="traveling">
          <mat-option
            aria-placeholder="Traveling"
            *ngFor="let Traveling of Travelings" [value]="Traveling.value">
            {{ Traveling.viewValue | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="formFieldHelp('lifestyle.component.helpRvUse')">help</mat-icon>
      <mat-icon class="icon" *ngIf="showtravelingSaveIcon">save</mat-icon>
    </div>
  </form>
  <br>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
