<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Find others like you</mat-card-title>
  </mat-card-header>
  <img mat-card-image class="main-image" src="./../../../../assets/images/landing-page-likeme.png" alt="Chart of RV Lifestyles">
  <mat-card-content>
    <p>
      Based on your anonymous profile, RV Like Me will automatically find others like you.  You can see their stories and connect with them through group forums and messaging.
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
