@import './../../../../styles/_variables';

.container {
  // padding: 10px;
  margin-top: 60px;
  padding-right: 10px;
  padding-left: 10px;
}

.bottom-bar-spacing {
  margin-bottom: 100px;
}

.bottom-bar-spacing-xplus {
  margin-bottom: 80px;
}


.text {
  line-height: 1.4;
}

.header {
  clear: left;
  margin-top: 10px;
  border-radius: 25px;
  background-color: $primary-color;
  color: white;
}

.profile-image {
  float: left;
}

.image {
  border-radius: 50%;
}

.name-and-date {
  margin-left: 50px;
  line-height: 1.5;
  font-weight: bold;
}

.messages {
  clear: left;
  padding: 10px;
  border-radius: 25px;
}

.background-light {
  background-color: white;
}

.background-dark {
  background-color: $dark-mode-posts;
}

.message-left {
  float: left;
  line-height: 1.5;
  width: 80%;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}

.message-left-light {
  background-color: $light-mode-message-other;
}

.message-left-dark {
  background-color: $dark-mode-message-other;
}

.message-right {
  float: right;
  line-height: 1.5;
  width: 80%;
  border-radius: 10px;
  min-height: 35px;
  padding: 5px;
  margin-top: 10px;
}

.message-right-light {
  background-color: $light-mode-message-me;
}

.message-right-dark {
  background-color: $dark-mode-message-me;
}

.message-text {
  padding-left: 5px;
  white-space: pre-line; // Convert JSON escaped \n back to new lines/line break for display'
}

.message-input {
  // float:left;
  margin-right: 5px;
  width: 310px;
}

.new-message {
  clear: left;
  clear: right;
  padding-top: 20px;
}

.spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.your-story {
  text-decoration: none;
  cursor: pointer;
}
