<div class="mat-app-background mat-body-1 container">
  <div class="posts">
    <div>
      <img class="image profile-image"
            [src]="toProfileImageUrl"
            style="width:40px;height:40px;">
    </div>
    <div class="name-and-date">
      <div class="display-name">
        {{ toDisplayName }}
      </div>
    </div>
  </div>
  <div class="messages">
    <div *ngFor="let message of messages">
      <div [ngClass]="message.createdBy === fromUserID ? 'message-right' : 'message-left'">
        <div *ngIf="message.createdBy !== fromUserID"
              class="profile-image">
          <img class="image"
                [src]="toProfileImageUrl"
                style="width:30px;height:30px;">
        </div>
        <span class="message-text">{{message.message}}</span>
      </div>
    </div>
  </div>
  <div class="new-message">
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="message-input">
        <mat-label>Message {{toDisplayName}}</mat-label>

          <textarea matInput
                    class="text"
                    type="text"
                    placeholder="What do you want to say?"
                    formControlName="message"
                    cdkFocusInitial>
          </textarea>

      </mat-form-field>

      <div>
        <button [disabled]="!form.valid"
                class="mat-raised-button mat-primary"
                (click)="onSubmit()">
                Send
        </button>
      </div>
    </form>
  </div>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
