@import '~@angular/material/theming';

@include mat-core();

$rvlikeme-light-primary: mat-palette($mat-blue-grey);
$rvlikeme-light-accent:  mat-palette($mat-green, A200, A100, A400);
$rvlikeme-light-warn:    mat-palette($mat-red);
$rvlikeme-light-theme: mat-light-theme($rvlikeme-light-primary, $rvlikeme-light-accent, $rvlikeme-light-warn);
@include angular-material-theme($rvlikeme-light-theme);

.dark-theme {
  color: $light-primary-text;
  $rvlikeme-dark-primary: mat-palette($mat-yellow);
  $rvlikeme-dark-accent:  mat-palette($mat-amber, A400, A100, A700);
  $rvlikeme-dark-warn:    mat-palette($mat-red);
  $rvlikeme-dark-theme:   mat-dark-theme($rvlikeme-dark-primary, $rvlikeme-dark-accent, $rvlikeme-dark-warn);
  @include angular-material-theme($rvlikeme-dark-theme);
}
