/* for sidenav to take whole page */
html, body {
  margin: 0;
  height: 100%;
}

// iPhone
// * {
  // -webkit-overflow-scrolling: touch;
  // -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  // -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  // -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
  // -webkit-tap-highlight-color: transparent;
  // -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
// }

@import '~@angular/material/theming';

// Make sure material icons are available offline
@import '~material-design-icons/iconfont/material-icons.css';

@include mat-core();

@import './styles/theme-color-schemes.scss';

// Default to orange dark theme
// @include angular-material-theme($orange-dark-theme);
@include angular-material-theme($cyan-theme);
// @include angular-material-theme($deep-purple-theme);
// @include angular-material-theme($orange-theme);
// @include angular-material-theme($indigo-theme);
// @include angular-material-theme($white-theme);
// @include angular-material-theme($dark-theme);

.light-theme {
  @include angular-material-theme($cyan-theme);
}

.orange-theme {
  @include angular-material-theme($orange-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
}

@import './styles/theme-typography.scss';

// Default to global font set
@include angular-material-typography($custom-global-typography);

.iphone-fonts {
  @include angular-material-typography($custom-iPhone-typography);
 }

.android-fonts {
  @include angular-material-typography($custom-android-typography);
}

.illustration {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
