@import './../../../../styles/_variables';

footer {
  position: fixed;
  bottom: 0px;
  overflow: hide;
  width: 100%;
}

.footer-height {
  height: 50px;
}

.footer-height-plus {
  height: 80px;
}

.menu-icon {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.menu-icon-text {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 70%;
}

.active-menu-item {
  color: $light-mode-accent-color;
}

.active-menu-item-dark {
  color: $dark-mode-accent-color;
}
