<!-- TODO: For some reason, without this, [className]="'toolbar'", the feature windows start
  after the toolbar, but that doesn't seem to do well for scrolling it??
  Just using class="toolbar" doesn't work??? -->
<mat-toolbar color="primary" [ngClass]="'toolbar'" role="toolbar" class="mat-h3" fxFlex fxLayout fxLayoutAlign="start">
  <div class="toolbar-icon" (click)="onToolbarIcon()">
    <div class="rvlikeme">
      <h2 class="mat-h2">
        <img
          src="../../../assets/images/trailer.png"
          class="logo"
          alt="travel trailer logo"
          style="width:60px;height:37.2px;">
        RV Like Me
      </h2>
    </div>
  </div>
  <span class="fill-space"></span>

  <button *ngIf="userAuthorized"
          mat-button
          class="toolbar-icon"
          matTooltip="Home page"
          routerLink="/home/dashboard"
          routerLinkActive="active-menu-item">
    <div class="menu-icon">
      <mat-icon fontSet="material-icons-outlined">home</mat-icon>
    </div>
    <div class="menu-icon-text">
      <span>{{ "menu.home" | translate }}</span>
    </div>
  </button>

  <button *ngIf="userAuthorized"
          mat-button
          class="toolbar-icon"
          matTooltip="Find others like me"
          routerLink="/connections/main"
          routerLinkActive="active-menu-item">
    <div class="menu-icon">
      <mat-icon fontSet="material-icons-outlined">people</mat-icon>
    </div>
    <div class="menu-icon-text">
      <span>{{ "menu.connections" | translate }}</span>
    </div>
  </button>

  <button *ngIf="userAuthorized"
          mat-button
          class="toolbar-icon"
          matTooltip="Connect in Group Forums"
          routerLink="/forums/forums-list"
          routerLinkActive="active-menu-item">
    <div class="menu-icon-text">
      <mat-icon fontSet="material-icons-outlined">forums</mat-icon>
    </div>
    <div class="menu-icon-text">
      <span>{{ "menu.forums" | translate }}</span>
    </div>
  </button>

  <button *ngIf="userAuthorized"
          mat-button
          class="toolbar-icon"
          matTooltip="Messages"
          routerLink="/messages/message-list"
          routerLinkActive="active-menu-item">
    <div class="menu-icon-text">
      <mat-icon
        matBadge="{{newMessageCount}}"
        matBadgeColor="warn"
        matBadgeSize="small"
        matBadgePosition="above after"
        fontSet="material-icons-outlined">
        messages
      </mat-icon>
    </div>
    <div class="menu-icon-text">
      <span>{{ "menu.messages" | translate }}</span>
    </div>
  </button>

  <button *ngIf="userAuthorized"
          mat-button
          class="toolbar-icon"
          matTooltip="Learn about RV lifestyle"
          routerLink="/newbie/need-help-newbie">
    <div class="menu-icon-text">
      <mat-icon fontSet="material-icons-outlined">accessibility_new</mat-icon>
    </div>
    <div class="menu-icon-text">
      <span>{{ "menu.newbie" | translate }}</span>
    </div>
  </button>

  <button *ngIf="userAuthorized"
          mat-button
          class="toolbar-icon"
          matTooltip="Profile"
          routerLink="/profile/main"
          routerLinkActive="active-menu-item">
    <div class="menu-icon-text">
      <mat-icon fontSet="material-icons-outlined">person</mat-icon>
    </div>
    <div class="menu-icon-text">
      <span>{{ "menu.profile" | translate }}</span>
    </div>
  </button>

  <button *ngIf="userAuthorized"
          mat-button
          class="toolbar-icon"
          matTooltip="About RVLikeMe"
          routerLink="/about"
          routerLinkActive="active-menu-item">
    <div class="menu-icon-text">
      <mat-icon fontSet="material-icons-outlined">rv_hookup</mat-icon>
    </div>
    <div class="menu-icon-text">
      <span>{{ "menu.about" | translate }}</span>
    </div>
</button>

  <div class="toolbar-image">
    <button *ngIf="userAuthorized"
            mat-button
            class="toolbar-image"
            matTooltip="Menu"
            [matMenuTriggerFor]="beforeMenu">
            <mat-icon *ngIf="!profileImage" matPrefix >account_circle</mat-icon>
            <img *ngIf="profileImage"
              class="toolbar-item image"
              [src]="profileImageUrl">
    </button>
  </div>

  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="changeProfileImage()">
      <mat-icon matPrefix fontSet="material-icons-outlined">add_a_photo</mat-icon>
      {{ "account.changeProfileImage" | translate }}
    </button>
    <button mat-menu-item (click)="changeUsername()">
      <mat-icon matPrefix fontSet="material-icons-outlined">account_box</mat-icon>
      {{ "account.changeUsername" | translate }}
    </button>
    <button mat-menu-item (click)="changePassword()">
      <mat-icon matPrefix fontSet="material-icons-outlined">lock</mat-icon>
      {{ "account.changePassword" | translate }}
    </button>
    <button mat-menu-item (click)="onSettings()">
      <mat-icon matPrefix fontSet="material-icons-outlined">lock</mat-icon>
      {{ "account.settings" | translate }}
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon fontSet="material-icons-outlined" >eject</mat-icon>
      {{ "account.logout" | translate }}
    </button>
  </mat-menu>
</mat-toolbar>
