<mat-toolbar color="primary" class="toolbar toolbar mat-elevation-z4" role="toolbar">
  <div class="mat-h3" fxFlex fxLayout fxLayoutAlign="end" fxLayoutGap="15px">
    <div class="logoCombined">
      <div class="rvlikeme">
        <h2 class="mat-h2">
          <img
            src="../../../assets/images/trailer.png"
            class="logo"
            alt="travel trailer logo"
            style="width:60px;height:37.2px;">
          RV Like Me
        </h2>
      </div>
    </div>
    <span class="fill-space"></span>
    <a class="toolbar-item" routerLink="/home" routerLinkActive="active-menu-item">{{ "menu.home" | translate}}</a>
    <span class="toolbar-item">|</span>
    <a class="toolbar-item" routerLink="/connections" routerLinkActive="active-menu-item">{{ "menu.connections" | translate}}</a>
    <span class="toolbar-item">|</span>
    <a class="toolbar-item" routerLink="/forums" routerLinkActive="active-menu-item">{{ "menu.forums" | translate}}</a>
    <span class="toolbar-item">|</span>
    <a class="toolbar-item" routerLink="/messages" routerLinkActive="active-menu-item">{{ "menu.messages" | translate}}</a>
    <span class="toolbar-item">|</span>
    <a class="toolbar-item" routerLink="/profile" routerLinkActive="active-menu-item">{{ "menu.profile" | translate}}</a>

    <button
        mat-button
        class="toolbar-item"
        [matMenuTriggerFor]="beforeMenu">
        <mat-icon *ngIf="!profileImage" matPrefix >account_circle</mat-icon>
        <img *ngIf="profileImage"
          class="toolbar-item image"
          [src]="profileImageUrl">
    </button>

    <button mat-button class="icon-button toolbar-item" (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="changeUsername()">
        <mat-icon matPrefix fontSet="material-icons-outlined">email</mat-icon>
        {{ "account.changeUsername" | translate }}
      </button>
      <button mat-menu-item>
        <mat-icon matPrefix fontSet="material-icons-outlined">lock</mat-icon>
        {{ "account.changePassword" | translate }}
      </button>
      <button *ngIf="lightTheme" mat-menu-item (click)="selectTheme('dark-theme')">
        <mat-icon matPrefix fontSet="material-icons-outlined">brightness_medium</mat-icon>
        {{ "account.darkTheme" | translate }}
      </button>
      <button *ngIf="!lightTheme" mat-menu-item (click)="selectTheme('light-theme')">
        <mat-icon matPrefix fontSet="material-icons-outlined">brightness_medium</mat-icon>
        {{ "account.lightTheme" | translate }}
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon fontSet="material-icons-outlined" >eject</mat-icon>
        {{ "account.logout" | translate }}
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
