<div class="mat-app-background container mat-body-1">
  <p class=mat-title>Internet Connectivity</p>
  <p>What if there were fellow-RVers that spend all their time keeping up with mobile internet options and want to tell you about it?
      Well, there is!  Cherrie and Chris host the
      <a href="https://www.rvmobileinternet.com/" target="_blank" class="hyperlink external">Mobile Internet Resource Center</a>.
      Check them out for the latest information!
  </p>
  <p>See what experience RVers are saying about internet connectivity in this <span class="hyperlink" (click)="onGroup()">group forum</span>.</p>
</div>
