<div class="mat-app-background container mat-body-1">
  <p class=mat-title>{{ 'newbie-topics.component.internet' | translate }}</p>
  <p>{{ 'newbie-topics.component.internetMIRC1' | translate }}
      <a href="https://www.rvmobileinternet.com/" target="_blank" class="hyperlink external">{{ 'newbie-topics.component.MIRC' | translate }}</a>.
      {{ 'newbie-topics.component.internetMIRC2' | translate }}
  </p>
  <p>{{ 'newbie-topics.component.internetHeader' | translate }}
    <span class="hyperlink" (click)="onGroup()">{{ 'newbie-topics.component.groupForum' | translate }}</span>.</p>
</div>
