<div class="mat-body-1">
  <div>
    <img src='./../../../../assets/images/{{landingImage}}'
          id="image"
          alt="rv view"
          class="illustration"
          [style.height]="maxRvImageHeight"
          [style.width]="maxRvImageWidth">
  </div>
  <div class="logoCombined">
    <div class="rvlikeme">
      <h2 class="mat-h2">
        <img src="./../../../../assets/images/trailer.png"
          class="logo"
          alt="travel trailer logo"
          style="width:60px;height:37.2px;">
          RV Like Me
      </h2>
    </div>
  </div>
  <div *ngIf="!httpError && !showSpinner" class="body">
    <p class="mat-subheading-2 welcome">Your account is now activated.<br>Welcome to RVLikeMe.com</p>
  </div>
  <div *ngIf="httpError && !showSpinner" class="body welcome">
    <mat-error class="mat-subheading-2">{{httpErrorText}}</mat-error>
  </div>
  <div>
    <button id="submit" [disabled]="httpError || showSpinner" mat-flat-button class="button" color="primary" (click)="onSignIn()">Log in</button>
  </div>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>
