<div class="mat-app-background mat-body-1" [ngClass]="getClass()">
  <h2 class="mat-title">{{ 'settings.component.title' | translate }}</h2>
  <p *ngIf="theme === 'light-theme'">
    <a mat-menu-item (click)="onSelectTheme('dark-theme')">
      <mat-icon matPrefix fontSet="material-icons-outlined">brightness_medium</mat-icon>
      {{ "account.darkTheme" | translate }}
    </a>
  </p>
  <p *ngIf="theme === 'dark-theme'">
    <a mat-menu-item (click)="onSelectTheme('light-theme')">
      <mat-icon matPrefix fontSet="material-icons-outlined">brightness_medium</mat-icon>
      {{ "account.lightTheme" | translate }}
    </a>
  </p>

  <form [formGroup]="form">
    <div class="form">
      <p>{{ 'settings.component.language' | translate}}</p>
      <div>
        <mat-form-field appearance="outline">
          <mat-select formControlName="language"
                      placeholder="{{ 'profile.component.preferred-language' | translate }}"
                      (selectionChange)="onSetLanguage($event.source.value)"
                      aria-label="select language">
            <mat-option value='en'>{{ "profile.component.english" | translate }}</mat-option>
            <mat-option value='es'>{{ "profile.component.spanish" | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon class="icon" *ngIf="showLanguageSaveIcon">save</mat-icon>
      </div>
    </div>
  </form>

  <div class="install">
    <button *ngIf="showInstallLink && !hideInstall"
            type="button"
             mat-menu-item
            (click)="onInstallApp()">
            <mat-icon matPrefix fontSet="material-icons-outlined">download</mat-icon>
            <span>{{ "menu.install" | translate }}</span>
    </button>
  </div>
  <div *ngIf="showInstallLink && !hideInstall" class="icon">
    <mat-icon fontSet="material-icons-outlined" (click)="onHelpInstall()">help_outline</mat-icon>
  </div>
  <div *ngIf="helpInstallOpen === 'in'" [@helpInstallSlideInOut]="helpInstallOpen" class="helpInstall">
    <p>{{ 'settings.component.android' | translate}}</p>
  </div>

  <div *ngIf="installAppleDevice" class="install">
    <button type="button"
            mat-menu-item
            (click)="onInstallApple()">
      <mat-icon matPrefix fontSet="material-icons-outlined">download</mat-icon>
      <span>Install Web App</span>
    </button>
  </div>
  <div *ngIf="installAppleDevice" class="icon">
    <mat-icon fontSet="material-icons-outlined" (click)="onHelpInstallApple()">help_outline</mat-icon>
  </div>
  <div *ngIf="helpInstallAppleOpen === 'in'" [@helpInstallAppleSlideInOut]="helpInstallAppleOpen" class="helpInstall">
    <p>{{ 'settings.component.apple' | translate }}</p>
  </div>

  <div class="notifications">
    <app-rvlm-notification-settings></app-rvlm-notification-settings>
  </div>
  <br><br><br><br><br>
  <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="showSpinner" diameter="40"></mat-progress-spinner>
</div>

